<div layout="row">
    <div hide-xs hide-sm flex="15" layout-md="column">

    </div>


    <div class="content-class centr-blok" flex-xs="100" flex-sm="100" flex="70">

        <h1>XMLHttpRequest: кросс-доменные запросы</h1>

        <div class="metod-content">

            <p>Обычно запрос XMLHttpRequest может делать запрос только в рамках текущего сайта. При попытке использовать
                другой домен/порт/протокол – браузер выдаёт ошибку.</p>

            <p>Существует современный стандарт <a href="https://www.w3.org/TR/XMLHttpRequest/">XMLHttpRequest,</a> он
                ещё в состоянии черновика, но предусматривает
                кросс-доменные запросы и многое другое.</p>

            <p>Большинство возможностей этого стандарта уже поддерживаются всеми браузерами, но увы, не в IE9-.</p>

            <p>Впрочем, частично кросс-доменные запросы поддерживаются, начиная с IE8, только вместо XMLHttpRequest
                нужно использовать объект XDomainRequest.</p>
        </div>


        <h3>Кросс-доменные запросы</h3>

        <div class="metod-content">
            <p>Разберём кросс-доменные запросы на примере кода:</p>

            <p>
                <code>
                    // (1)<br>
                    var XHR = ("onload" in new XMLHttpRequest()) ? XMLHttpRequest : XDomainRequest;<br>
                    <br>
                    var xhr = new XHR();<br>
                    <br>
                    // (2) запрос на другой домен :)<br>
                    xhr.open('GET', 'http://anywhere.com/request', true);<br>
                    <br>
                    xhr.onload = function() {<br>
                    alert( this.responseText );<br>
                    }<br>
                    <br>
                    xhr.onerror = function() {<br>
                    alert( 'Ошибка ' + this.status );<br>
                    }<br>
                    <br>
                    xhr.send();<br>

                </code>
            </p>
            <ol>
                <li>
                    Мы создаём XMLHttpRequest и проверяем, поддерживает ли он событие onload. Если нет, то это старый
                    XMLHttpRequest, значит это IE8,9, и используем XDomainRequest.
                </li>
                <li>
                    Запрос на другой домен отсылается просто указанием соответствующего URL в open. Он обязательно
                    должен быть асинхронным, в остальном – никаких особенностей.
                </li>
            </ol>

        </div>

        <h3>Контроль безопасности</h3>

        <div class="metod-content">
            <p>Кросс-доменные запросы проходят специальный контроль безопасности, цель которого – не дать злым хакерам™
                завоевать интернет.</p>

            <p>Разработчики стандарта предусмотрели все заслоны, чтобы «злой хакер» не смог, воспользовавшись новым
                стандартом, сделать что-то принципиально отличное от того, что и так мог раньше и, таким образом,
                «сломать» какой-нибудь сервер, работающий по-старому стандарту и не ожидающий ничего принципиально
                нового.</p>

            <p>Давайте, на минуточку, вообразим, что появился стандарт, который даёт, без ограничений, возможность
                делать любой странице HTTP-запросы куда угодно, какие угодно.</p>

            <p>Как сможет этим воспользоваться злой хакер?</p>

            <p>Он сделает свой сайт, например http://evilhacker.com и заманит туда посетителя (а может посетитель
                попадёт на «злонамеренную» страницу и по ошибке – не так важно).</p>

            <p>Когда посетитель зайдёт на http://evilhacker.com, он автоматически запустит JS-скрипт на странице. Этот
                скрипт сделает HTTP-запрос на почтовый сервер, к примеру, http://gmail.com. А ведь обычно HTTP-запросы
                идут с куками посетителя и другими авторизующими заголовками.</p>

            <p>Поэтому хакер сможет написать на http://evilhacker.com код, который, сделав GET-запрос на
                http://gmail.com, получит информацию из почтового ящика посетителя. Проанализирует её, сделает ещё пачку
                POST-запросов для отправки писем от имени посетителя. Затем настанет очередь онлайн-банка и так
                далее.</p>

            <p>Спецификация CORS налагает специальные ограничения на запросы, которые призваны не допустить подобного
                апокалипсиса.</p>

            <p>Запросы в ней делятся на два вида.</p>

            <p><h5>Простые</h5> считаются запросы, если они удовлетворяют следующим двум условиям:</p>
            <ol>
                <li>Простой метод: GET, POST или HEAD</li>
                <li>Простые заголовки – только из списка:</li>
            </ol>
            <ul>
                <li>Accept</li>
                <li>Accept-Language</li>
                <li>Content-Language</li>
                <li>Content-Type со значением application/x-www-form-urlencoded, multipart/form-data или text/plain.
                </li>
            </ul>
            <p><h5>Непростыми</h5> считаются все остальные, например, запрос с методом PUT или с заголовком
            Authorization не подходит под ограничения выше.</p>

            <p>Принципиальная разница между ними заключается в том, что «простой» запрос можно сформировать и отправить
                на сервер и без XMLHttpRequest, например при помощи HTML-формы.</p>

            <p>То есть, злой хакер на странице http://evilhacker.com и до появления CORS мог отправить произвольный
                GET-запрос куда угодно. Например, если создать и добавить в документ элемент &lt;script src="любой
                url">, то браузер сделает GET-запрос на этот URL.</p>

            <p>Аналогично, злой хакер и ранее мог на своей странице объявить и, при помощи JavaScript, отправить
                HTML-форму с методом GET/POST и кодировкой multipart/form-data. А значит, даже старый сервер наверняка
                предусматривает возможность таких атак и умеет от них защищаться.</p>

            <p>А вот запросы с нестандартными заголовками или с методом DELETE таким образом не создать. Поэтому старый
                сервер может быть к ним не готов. Или, к примеру, он может полагать, что такие запросы веб-страница в
                принципе не умеет присылать, значит они пришли из привилегированного приложения, и дать им слишком много
                прав.</p>

            <p>Поэтому при посылке «непростых» запросов нужно специальным образом спросить у сервера, согласен ли он в
                принципе на подобные кросс-доменные запросы или нет? И, если сервер не ответит, что согласен – значит,
                нет.</p>

            <div class="content-rools">
                <p>В спецификации CORS, как мы увидим далее, есть много деталей, но все они объединены единым принципом:
                    новые возможности доступны только с явного согласия сервера (по умолчанию – нет).</p>
            </div>
        </div>

        <h3>RS для простых запросов</h3>

        <div class="metod-content">
            <p>В кросс-доменный запрос браузер автоматически добавляет заголовок Origin, содержащий домен, с которого
                осуществлён запрос.</p>

            <p>В случае запроса на http://anywhere.com/request с http://javascript.ru/page заголовки будут примерно
                такие:</p>

            <p>
                <code>
                    GET /request<br>
                    Host:anywhere.com<br>
                    Origin:http://javascript.ru<br>
                    ...
                </code>
            </p>

            <p>Сервер должен, со своей стороны, ответить специальными заголовками, разрешает ли он такой запрос к
                себе.</p>

            <p>Если сервер разрешает кросс-доменный запрос с этого домена – он должен добавить к ответу заголовок
                Access-Control-Allow-Origin, содержащий домен запроса (в данном случае «javascript.ru») или звёздочку
                *.</p>

            <p> ответ сервера может быть примерно таким:</p>

            <p>
                <code>
                    HTTP/1.1 200 OK<br>
                    Content-Type:text/html; charset=UTF-8<br>
                    Access-Control-Allow-Origin: http://javascript.ru<br>
                </code>
            </p>

            <p>Если Access-Control-Allow-Origin нет, то браузер считает, что разрешение не получено, и завершает запрос
                с ошибкой.</p>

            <p>При таких запросах не передаются куки и заголовки HTTP-авторизации. Параметры user и password в методе
                open игнорируются. Мы рассмотрим, как разрешить их передачу, чуть далее.</p>

            <div class="content-rools">
                <h5>Что может сделать хакер, используя такие запросы?</h5>
                <ul>
                    <li>Описанные выше ограничения приводят к тому, что запрос полностью безопасен.</li>
                    <li>Действительно, злая страница может сформировать любой GET/POST-запрос и отправить его, но без
                        разрешения сервера ответа она не получит.
                    </li>
                    <li>А без ответа такой запрос, по сути, эквивалентен отправке формы GET/POST, причём без
                        авторизации.
                    </li>
                </ul>
            </div>

        </div>
    </div>


    <div hide-xs hide-sm flex="15" class="main-right-blok fixed"
         style="position: fixed;padding-right: 50px; font-size: 160%">
    </div>

</div>












