
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 " >
    <div class="container-fluid calkClass firstCalkClass ">
        <div class="row-fluid">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">


                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  noPadding">
                    <div class="displayClass">
                        <span  ng-bind="CtrrlVM.result">0</span>
                    </div>
                </div>

                <div class="btn-block ">
                    <div class="myClass1">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 noPadding">
                            <div class="">

                                <md-button  class="btn calcBtn colorNumbers " ng-click="numberDate(1)">1</md-button >

                                <md-button  class="btn calcBtn colorNumbers" ng-click="numberDate(2)">2</md-button >

                                <md-button  class="btn calcBtn colorNumbers" ng-click="numberDate(3)">3</md-button >

                                <md-button  class="btn calcBtn btn-danger calcBtnDel" ng-click="del()">cc</md-button >

                                <md-button  class="btn calcBtn btn-danger  calcBtnDel" ng-click="delOne()">c</md-button >
                            </div>
                        </div>


                        <div class="">
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 noPadding">


                                <md-button  class="btn calcBtn colorNumbers  " ng-click="numberDate(4)">4</md-button >

                                <md-button  class="btn calcBtn  colorNumbers " ng-click="numberDate(5)">5</md-button >

                                <md-button  class="btn calcBtn  colorNumbers " ng-click="numberDate(6)">6</md-button >

                                <md-button  class="btn calcBtn colorNumbers " ng-click="numberDate('0')">0</md-button >

                                <md-button  class="btn calcBtn " ng-click="power()">x2</md-button >

                            </div>
                        </div>


                        <div class="">
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 noPadding">
                                <div class="">

                                    <md-button  class="btn calcBtn colorNumbers  " ng-click="numberDate(7)">7</md-button >

                                    <md-button  class="btn calcBtn colorNumbers  " ng-click="numberDate(8)">8</md-button >

                                    <md-button  class="btn calcBtn colorNumbers  " ng-click="numberDate(9)">9</md-button >

                                    <md-button  class="btn  calcBtn " ng-click="sqr()">^</md-button >

                                    <md-button  class="btn calcBtn" ng-click="numberDate('.')">.</md-button >
                                </div>
                            </div>
                        </div>

                        <div class="">
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 noPadding">
                                <div class=" ">

                                    <md-button  class="btn calcBtn colorActions" ng-click="numberDate('+')">+</md-button >

                                    <md-button  class="btn  calcBtn colorActions" ng-click="numberDate('-')">-</md-button >

                                    <md-button  class="btn calcBtn colorActions" ng-click="numberDate('*')">x</md-button >

                                    <md-button  class="btn calcBtn colorActions " ng-click="numberDate('/')">/</md-button >

                                    <md-button  class="btn calcBtn colorActions" ng-click="sum('=')">=</md-button >


                                </div>
                            </div>

                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>