<div layout="row">
    <div hide-xs hide-sm hide-md flex="15" layout-md="column" style="position: relative;font-size: 80%;
             word-wrap: break-word;">

        <div class="afix " style="position: fixed; font-size: 100%">

        </div>
    </div>

    <div flex-xs="100" flex-sm="100" flex-md="60" flex="55" class="centr-blok ">

        <h1>Структуры данных</h1>

        <div class="content-class">
            <h4>Введение в методы и свойства</h4>

            <div class="metod-content">
                <p>Все значения в JavaScript, за исключением null и undefined, содержат набор вспомогательных функций и
                    значений, доступных «через точку».

                    До этого мы говорили об объекте лишь как о хранилище значений. Теперь пойдём дальше и поговорим об
                    объектах как о сущностях со своими функциями («методами»).
                </p>

                <p>При объявлении объекта можно указать свойство-функцию, например:</p>

                <p>
                    <code>var user = {<br>
                        name: 'Василий',<br>
                        // метод<br>
                        sayHi: function() {<br>
                        alert( 'Привет!' );<br>
                        }<br>

                        };<br>
                        // Вызов </code>
                </p>


                <p class="div-example-run">user.sayHi();
                    <md-button style="float:right;" ng-click="ObjMet.action(1)">{{signationButton}}<span
                            class="glyphicon glyphicon-play"></span>
                    </md-button>
                </p>
                <p>Свойства-функции называют «методами» объектов. Их можно добавлять и удалять в любой момент, в том
                    числе и явным присваиванием</p>
                <code>
                    <p>

                        var user = {<br>
                        name: 'Василий'<br>
                        };<br>

                        user.sayHi = function() { // присвоили метод после создания объекта<br>
                        alert('Привет!');<br>
                        };<br>

                        // Вызов метода:</p>
                </code>

                <p class="div-example-run">user.sayHi();
                    <md-button style="float:right;" ng-click="ObjMet.action(1)">ON-<span
                            class="glyphicon glyphicon-play"></span>
                    </md-button>
                </p>

            </div>

            <h4>Доступ к объекту через this</h4>

            <div class="metod-content">
                <p>Для полноценной работы метод должен иметь доступ к данным объекта. В частности, вызов user.sayHi()
                    может захотеть вывести имя пользователя.
                </p>
            </div>

            <h4 class="">Для доступа к текущему объекту из метода используется ключевое слово this.</h4>

            <div class="metod-content">

                <p>Значением this является объект перед «точкой», в контексте которого вызван метод, например:</p>


                <p><code>
                    var user = {<br>
                    name: 'Василий',<br>

                    sayHi: function() {<br>
                    alert( this.name );<br>
                    }<br>
                    };<br>

                </code></p>

                <p class="div-example-run"> user.sayHi(); // sayHi в контексте user
                    <md-button style="float:right;" ng-click="ObjMet.action(2)">{{signationButton}}<span
                            class="glyphicon glyphicon-play"></span>
                    </md-button>
                </p>

                <p>Здесь при выполнении функции user.sayHi() в this будет храниться ссылка на текущий объект user.

                    Вместо this внутри sayHi можно было бы обратиться к объекту, используя переменную user:</p>

                <p>Однако, такое решение нестабильно. Если мы решим скопировать объект в другую переменную, например
                    admin = user, а в переменную user записать что-то другое – обращение будет совсем не по адресу:</p>

                <p><code>
                    var user = {<br>
                    name: 'Василий',<br>

                    sayHi: function() {<br>
                    alert( user.name ); // приведёт к ошибке<br>
                    }<br>
                    };<br>

                    var admin = user;<br>
                    user = null;<br>
                </code></p>

                <p class="div-example-run">admin.sayHi(); // упс! внутри sayHi обращение по старому имени, ошибка!
                    <md-button style="float:right;" ng-click="ObjMet.action(3)">{{signationButton}}<span
                            class="glyphicon glyphicon-play"></span>
                    </md-button>
                </p>
                <p>Использование this гарантирует, что функция работает именно с тем объектом, в контексте которого
                    вызвана.</p>

            </div>
            <h4> Через this метод может не только обратиться к любому свойству объекта, но и передать куда-то ссылку
                на сам объект целиком:</h4>

            <div class="metod-content">
                <p>Пример</p>

                <p>
                    <code>
                        var user = {<br>
                        name: 'Василий',<br>

                        sayHi: function() {<br>
                        showName(this); // передать текущий объект в showName<br>
                        }<br>
                        };<br>

                        function showName(namedObj) {<br>
                        alert( namedObj.name );<br>
                        }<br>
                    </code>
                </p>

                <p class="div-example-run"> user.sayHi(); // Василий
                    <md-button style="float:right;" ng-click="ObjMet.action(4)">{{signationButton}}<span
                            class="glyphicon glyphicon-play"></span>
                    </md-button>
                </p>
            </div>

            <h3>Подробнее про this</h3>

            <div class="metod-content">
                <p>
                    Любая функция может иметь в себе this. Совершенно неважно, объявлена ли она в объекте или отдельно
                    от
                    него.
                </p>

                <p>
                    Значение this называется контекстом вызова и будет определено в момент вызова функции.
                </p>

                <p>
                    Например, такая функция, объявленная без объекта, вполне допустима:
                </p>

                <p>
                    <code>
                        function sayHi() {<br>
                        alert( this.firstName );<br>
                        }<br>
                    </code>
                </p>

                <p>Эта функция ещё не знает, каким будет this. Это выяснится при выполнении программы.</p>

                <p> Если одну и ту же функцию запускать в контексте разных объектов, она будет получать разный this:</p>

                <p><code>
                    var user = { firstName: "Вася" };<br>
                    var admin = { firstName: "Админ" };<br>

                    function func() {<br>
                    alert( this.firstName );<br>
                    }<br>

                    user.f = func;<br>
                    admin.g = func;<br>

                    // this равен объекту перед точкой:<br>
                    user.f(); // Вася<br>
                    admin.g(); // Админv<br>
                </code></p>

                <p class="div-example-run"> admin['g'](); // Админ (не важно, доступ к объекту через точку или
                    квадратные скобки)
                    <md-button style="float:right;" ng-click="ObjMet.action(5)">{{signationButton}}<span
                            class="glyphicon glyphicon-play"></span>
                    </md-button>
                </p>
                <p>Итак, значение this не зависит от того, как функция была создана, оно определяется исключительно в
                    момент вызова.</p>
            </div>

            <h3>Значение this при вызове без контекста</h3>

            <div class="metod-content">
                <p>Если функция использует this – это подразумевает работу с объектом. Но и прямой вызов func()
                    технически возможен.</p>

                <p> Как правило, такая ситуация возникает при ошибке в разработке.</p>

                <p> При этом this получает значение window, глобального объекта:</p>

                <p><code>
                    function func() {<br>
                    alert( this ); // выведет [object Window] или [object global]<br>
                    }<br>

                    func();
                </code>
                </p>

                <p>Таково поведение в старом стандарте.</p>

                <p> А в режиме use strict вместо глобального объекта this будет undefined:</p>

                <p>
                    <code>
                        function func() { <br>
                        "use strict";<br>
                        alert( this ); // выведет undefined (кроме IE9-)<br>
                        }<br>
                    </code>
                </p>

                <p class="div-example-run">func();
                    <md-button style="float:right;" ng-click="ObjMet.action(6)">{{signationButton}}<span
                            class="glyphicon glyphicon-play"></span>
                    </md-button>
                </p>
                <p>Обычно если в функции используется this, то она, всё же, служит для вызова в контексте объекта, так
                    что такая ситуация – скорее исключение.</p>
            </div>

            <h4>Ссылочный тип</h4>

            <div class="metod-content">
                <p>Контекст this никак не привязан к функции, даже если она создана в объявлении объекта. Чтобы this
                    передался, нужно вызвать функцию именно через точку (или квадратные скобки).</p>

                <p>Любой более хитрый вызов приведёт к потере контекста, например:
                </p>

                <p><code>
                    var user = {<br>
                    name: "Вася",<br>
                    hi: function() { alert(this.name); },<br>
                    bye: function() { alert("Пока"); }<br>
                    };<br>

                    user.hi(); // Вася (простой вызов работает)<br>

                    // а теперь вызовем user.hi или user.bye в зависимости от имени<br>
                    (user.name == "Вася" ? user.hi : user.bye)(); // undefined<br>
                </code></p>

                <p>В последней строке примера метод получен в результате выполнения тернарного оператора и тут же
                    вызван. Но this при этом теряется.

                    Если хочется понять, почему, то причина кроется в деталях работы вызова obj.method().

                    Он ведь, на самом деле, состоит из двух независимых операций: точка . – получение свойства и скобки
                    () – его вызов (предполагается, что это функция).

                    Функция, как мы говорили раньше, сама по себе не запоминает контекст. Чтобы «донести его» до скобок,
                    JavaScript применяет «финт ушами» – точка возвращает не функцию, а значение специального
                    «ссылочного» типа Reference Type.

                    Этот тип представляет собой связку «base-name-strict», где:

                    base – как раз объект,
                    name – имя свойства,
                    strict – вспомогательный флаг для передачи use strict.
                    То есть, ссылочный тип (Reference Type) – это своеобразное «три-в-одном». Он существует
                    исключительно для целей спецификации, мы его не видим, поскольку любой оператор тут же от него
                    избавляется:

                    Скобки () получают из base значение свойства name и вызывают в контексте base.
                    Другие операторы получают из base значение свойства name и используют, а остальные компоненты
                    игнорируют.
                    Поэтому любая операция над результатом операции получения свойства, кроме вызова, приводит к потере
                    контекста.</p>
            </div>
        </div>
    </div>

    <div hide-xs hide-sm flex-md="40" flex="30" class="main-right-blok fixed"
         style="position: fixed;padding-right: 50px; font-size: 160%">
        <div class="show-array" ng-show="signature">
            <h6>Это визуализация результата </h6>

            <p ng-bind="signature + ' - > ' + obj"></p>


        </div>
        <div style="position: fixed; font-size: 100%; margin-top: 40px">
            <h4>Moiseenko Bogdan</h4>
            <h6>Email</h6>

            <h5>bogdan.nadgobb@gmail.com</h5>
            <h6>Phone</h6>

            <h5>+38(096)140-36-87</h5>


        </div>


    </div>
</div>