
html body {
    height: 100%;
    font: 24px Arial, Tahoma, sans-serif;
    background-color: #ffffff;

}

@media (max-width: 1199px) {
    html body {

        font: 16px Arial, Tahoma, sans-serif;

    }
}

@media (max-width: 677px) {
    html body {
        font: 12px Arial, Tahoma, sans-serif;
    }
}

/*Menu*/
ul {
    /* list-style: none;*/
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a, a:hover {
    text-decoration: none;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;

}

/*Heder=============*/
.header {
    height: 100px;
    text-align: center;
}

/*===================*/
.containerr {
    top: 125px; /*высота шапки в пикселях*/

    width: 100%;
    position: fixed;
    z-index: 1000;
}

.nav,
#touch-menu {
    background: rgba(0, 0, 0, 0.73);
    border-radius: 4px 4px 4px 4px;

}

.nav li {
    float: left;
}

.nav li a,
#touch-menu {
    display: block;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
}

.nav li a:hover,
#touch-menu:hover {
    background: rgba(117, 117, 117, 0.34);
    color: #e7e7e7;
    border-radius: 4px 22px 4px 22px;
}

#touch-menu {
    display: none;
}

@media (max-width: 768px) {
    .nav {
        display: none;
    }

    .nav li {
        float: none;
    }

    .nav li a {
        border-top: 1px solid #1d3833;
        border-left: 3px solid transparent;
        background: #d0d0d0;
        color: #000000;
    }

    .nav li:first-child a {
        border-top: none;
    }

    .nav li a:hover {
        background: #f0f0f0;
        color: #444;
        border-left: 3px solid #515572;
    }

    #touch-menu {
        display: block;
    }

}

/*=========================*/
/*Enter code form*/
.enterCodeMyStyle {
    margin-right: 120px;
}

.enterCodeMyStyle form md-button {
    width: 100px;
}

.worning-class {
    color: red;
}

/*==========================*/
/*Crop-Area*/
.cropArea {
    overflow: auto;
    width: 100%;
    height: 250px;
    background-color: rgba(0, 255, 212, 0);
}

.avatarImage {
    max-width: 300px;
    max-height: 300px;
    min-width: 224px;
    min-height: 224px;

}

@media (max-width: 777px) {
    .avatarImage {
        max-width: 220px;
        max-height: 220px;
        min-width: 124px;
        min-height: 124px;

    }
}

/*=========================*/
/*Chat---------------------*/
.textWindow {
    background-color: rgba(255, 255, 255, 0.47);
    border: solid 1px #16ac8e;
    max-width: 100%;
    min-height: 400px;
    max-height: 450px;
    overflow: auto;
    border-radius: 4px 4px 4px 4px;
    /* -moz-border-radius: 4px 4px 4px 4px;
     -webkit-border-radius: 4px 4px 4px 4px;*/
    word-wrap: break-word;
}

/*.textWindow p {
    font-size: 12px;
    word-wrap: break-word;
}*/
.md-list-item-text {
    min-height: 10px;
}

.md-list-item-text span {
    font-size: 12px;
    word-wrap: break-word;
}

.chatInput {
    margin-top: 5px;
    border: solid 2px #16ac8e;
    width: 70%;
    height: 40px;

    overflow: auto;
}

.clasBlocCentr {
    background-color: #00d6b2;
}

.crop-image {
    width: 100%;
    height: auto;
    margin-right: 10px;
}

.upload-image {
    max-width: 70%;
    max-height: 70%;
}

.chat-table {
    width: 100%;
}

.avatarImage {
    width: 90%;
    height: 90%;
    position: relative;
}

.btn-send {
    width: 100%;
}

/*.btn-add-image {
    width: 30%;
    font-size: 80%;
}*/

.textarea-wizivigg {
    width: 100%;
    height: 30%;
}

/*Всплывающий скриншот-----------------------------------------------------------*/
.thumbnail {
    position: absolute;
    z-index: 0;
    border: tan;
    color: #00d6b2;
    background-color: transparent;
    height: 36px;
    margin-bottom: 0;
}

.thumbnail:hover {
    background-color: transparent;
    z-index: 30;

}

.thumbnail span {
    /*CSS for enlarged image*/
    position: absolute;
    background-color: rgba(16, 27, 19, 0.54);
   /* padding: 2px;*/


    border: 1px solid #4dff32;
    visibility: hidden;
    color: #16ac8e;
}

.thumbnail span img {
    /*CSS for enlarged image*/
    border-width: 0;
    padding: 2px;
    height: 150px;
}

.thumbnail:hover span {
    /*CSS for enlarged image on hover*/
    visibility: visible;
    top: 30px;
    left: 20px; /*position where enlarged image should offset horizontally */
}

/*================================*/

/*Karusel*/

.upload-image-karusel {
    width: 100%;
    height: 100%;
}

.table-images-karusel {
    width: 14%;
}

.width-buttton-crop table td {
    width: 90%;
    font-size: 100%;
}

.width-buttton-crop table p {
    width: 90%;
    font-size: 100%;
}

.well {
    width: 100%;
    height: 100%
}

.well img {
    width: 99%;
    height: 110%
}

.well span {
    font-size: 100%;
}

.table-bordered tr {
    font-size: 100%;
    width: 100%;
}

img.animate-zoom {
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

img.animate-zoom:hover {
    -moz-transform: rotate(360deg) scale(2.0);
    -webkit-transform: rotate(360deg) scale(2.0);
    -o-transform: rotate(360deg) scale(2.0);
    -ms-transform: rotate(360deg) scale(2.0);
    transform: rotate(360deg) scale(2.0);

}

.input-interval {
    width: 40%;
}

/*Calk*/
.firstCalkClass {
    width: 100%;

    border: solid #29205b 2px;
    border-radius: 12px 12px 12px 12px;

    background-color: rgba(0, 0, 0, 0.18);
}

.myClass1 {
    margin-bottom: 20px;
}

.displayClass {
    margin-top: 20px;
    background: rgb(255, 255, 255);
    border: solid 1px;
    width: 100%;
    border-radius: 7px 7px 7px 7px;

    font-size: 300%;
    overflow-y: auto;
    word-wrap: break-word;
    display: block;
    max-height: 150px;
}

.displayClass span {
    margin-top: 5px;
    padding: 3px
}

.noPadding {
    padding: 0;
}

.calcBtn {
    background-color: rgba(152, 152, 152, 0.07);
    width: 70%;
    height: 40%;

    border: solid 1px;
    font-size: 250%;
    margin-bottom: 15px;
    margin-left: 0;
    border-radius: 7px 7px 7px 7px;

}

.calcBtnDel {
    border: solid red;
    color: red;

}

.colorActions {
    background-color: #4cae4c;
}

.colorNumbers {
    background-color: rgba(42, 171, 210, 0.48);
}

/*Main page*/
.main-conteiner {
    word-wrap: break-word;

    width: 90%;
    margin: 0 auto;
}

/*Main page right blok*/

.first-blok {
    text-align: center;
    border-bottom: 1px solid black;
    background-color: #ebebeb;
    min-height: 100px;
}

.first-blok p {
    margin-bottom: 5px;
}

.flex-20 {
    -webkit-flex: 1 1 20%;
    -ms-flex: 1 1 20%;
    flex: 1 1 20%;
    max-width: 20%;
    max-height: 110%;
    box-sizing: border-box;
}

.main-right-blok {
    text-align: justify;
}

.centr-blok {
    margin: 10px;
    text-align: justify;
}

.log {
    position: relative;
    left: 10%;
}

.arr-affix-block {

    height: 40px;
    background-color: #000000;
    opacity: 1;
    color: white;
    word-wrap: break-word;
}

/*Страницы контента*/
.content-class h4 {
    border-top: 1px solid maroon;
    width: 80%;
    min-height: 40px;
    background-color: rgba(255, 83, 46, 0.04);
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
}

.content-class h2 {
    text-align: center;
}

.content-class h3 {
    border-top: 1px solid maroon;
    width: 80%;
    min-height: 40px;
    background-color: rgba(255, 88, 51, 0.17);
    text-align: center;
    font-weight: bold
}

.content-class h5 {
    font: 120% serif;
    font-weight: bold
}

.show-array {
    border-bottom: 1px solid maroon;
    height: 200px;
    overflow: auto;
    font-weight: bold;
    word-wrap: break-word;
}

.div-example-run {
    background-color: rgba(148, 148, 148, 0.51);
    min-height: 50px;
    /* //max-height: 200px;*/
}

.rezoltAfterButon {
    background-color: rgba(0, 248, 0, 0.31);
}

.content-rools {
    background-color: rgba(255, 172, 31, 0.63);
    padding: 15px;
    margin: 10px;
}

.content-rools-inf {
    background-color: rgba(25, 212, 133, 0.43);
    padding: 15px;
    margin: 10px;
}

/*@media (max-width: 580px) {
    .div-example-run {
        min-height: 100px;
    }
}*/

.metod-content {
    border-left: solid 1px black;
    border-right: solid 1px black;
    background-color: rgba(222, 222, 222, 0.34);
    padding: 5px;
}

.metod-content ul {
    margin-left: 20px;
}

.metod-content li {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 15px;
}

.metod-content ol {
    margin-left: 20px;
}

.metod-content p {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    word-wrap: break-word;
}

.main-page-menu ul {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
}

.main-page-menu li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 8px; /* Отступ слева */
    padding: 5px; /* Поля вокруг текста */
}

code {
    color: #00b795;
    font-size: 120%;
    overflow-y: auto;

}

/*my alert*/

.my-message {
    min-width: 50%;
    min-height: 130px;
    background-color: #c6c6c6;
    text-align: center;
    border: 1px groove #2aabd2;
    border-radius: 4px 4px 4px 28px;
}

.my-message-title {
    min-height: 40px;
    font-size: 120%;
    background-color: rgba(67, 255, 181, 0.49);
}

.my-message-body {
    padding: 5px;
    min-height: 50px;
}

.my-message-ok {
    width: 100px;
    height: 30px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 3px 3px 3px 3px;
    background-color: rgba(255, 91, 15, 1);
    float: right;
}

b {
    font-size: medium;
    color: #0066cc;
}
/*G-maps*/
#map1{
    width: 100%;
    height: 400px;
}
#map2{
    width: 100%;
    height: 400px;
}
#map3{
    width: 100%;
    height: 400px;
}
.g-maos h2{
    border-top: solid 1px black;
    text-align: center;
}

.gmaps-content {
    margin-left: 3%;
    margin-right: 3%;
    word-wrap: break-word;
    font-size: 80%;
}

.gmaps-content h3{
    border-bottom: 1px solid #4e0000;
    width: 100%;
    min-height: 40px;
    background-color: rgba(187, 187, 187, 0.25);
    text-align: center;
    font-weight: bold
}
.gmaps-content code{
    font-size: 80%;
}
.gmaps-content md-button{
    background-color: greenyellow;
}