<div layout="row">
    <div hide-xs hide-sm flex="15" layout-md="column">

    </div>


    <div class="content-class centr-blok" flex-xs="100" flex-sm="100" flex="70">

        <h1>XMLHttpRequest POST, формы и кодировка</h1>

        <div class="metod-content">

            <p>Во время обычной отправки формы &lt;form&gt; браузер собирает значения её полей, делает из них строку и
                составляет тело GET/POST-запроса для
                посылки на сервер.
            </p>

            <p>При отправке данных через XMLHttpRequest, это нужно делать самим, в JS-коде. Большинство проблем и
                вопросов здесь связано с непониманием, где и какое кодирование нужно осуществлять.</p>
        </div>

        <h3>Кодировка urlencoded</h3>

        <div class="metod-content">
            <p>Основной способ кодировки запросов – это urlencoded, то есть – стандартное кодирование URL.</p>

            <p>Например, форма:</p>

            <p>
                <code>
                    &lt;form action="/submit" method="GET"&gt;<br>
                    &lt;input name="name" value="Ivan"&gt;<br>
                    &lt;input name="surname" value="Ivanov"&gt;<br>
                    &lt;/form&gt;
                </code>
            </p>

            <p>Здесь есть два поля: name=Ivan и surname=Ivanov.</p>

            <p>Например, форма: Браузер перечисляет такие пары «имя=значение» через символ амперсанда & и, так как метод
                GET, итоговый запрос выглядит как /submit?name=Ivan&surname=Ivanov.
            </p>

            <p>Все символы, кроме английских букв, цифр и - _ . ! ~ * ' ( ) заменяются на их цифровой код в UTF-8 со
                знаком %.</p>

            <p>Например, пробел заменяется на %20, символ / на %2F, русские буквы кодируются двумя байтами в UTF-8,
                поэтому, к примеру, Ц заменится на %D0%A6.</p>

            <p>Например, форма:</p>

            <p>
                <code>
                    &lt;form action="/submit" method="GET"&gt;<br>
                    &lt;input name="name" value="Виктор"&gt;<br>
                    &lt;input name="surname" value="Цой"&gt;<br>
                    &lt;/form&gt;
                </code>
            </p>

            <p >Будет отправлена так: /submit?name=%D0%92%D0%B8%D0%BA%D1%82%D0%BE%D1%80&surname=%D0%A6%D0%BE%D0%B9.</p>

            <p>в JavaScript есть функция <b>encodeURIComponent</b> для получения такой кодировки «вручную»:</p>

            <p>
                <code>
                    alert( encodeURIComponent(' ') ); // %20<br>
                    alert( encodeURIComponent('/') ); // %2F<br>
                    alert( encodeURIComponent('Б') ); // %D0%92<br>

                    alert( encodeURIComponent('Богдан') ); //
                    %D0%92%D0%B8%D0%BA%D1%82%D0%BE%D1%80
                    <md-button style="float:right;" class="md-primary" onclick="klj()">
                        ON<span
                            class="glyphicon glyphicon-play"></span></md-button>

                </code>
            </p>
            <p>Эта кодировка используется в основном для метода GET, то есть для передачи параметра в строке запроса. По
                стандарту строка запроса не может содержать произвольные Unicode-символы, поэтому они кодируются как
                показано выше.</p>
        </div>

        <h3>GET-запрос</h3>

        <div class="metod-content">
            <p>Формируя XMLHttpRequest, мы должны формировать запрос «руками», кодируя поля функцией
                encodeURIComponent.</p>

            <p>Например, для посылки GET-запроса с параметрами name и surname, аналогично форме выше, их необходимо
                закодировать так:</p>

            <p>
                <code>
                    // Передаём name и surname в параметрах запроса<br>
                    <br>
                    var xhr = new XMLHttpRequest();<br>

                    var params = 'name=' + encodeURIComponent(name) +<br>
                    '&surname=' + encodeURIComponent(surname);<br>

                    xhr.open("GET", '/submit?' + params, true);<br>

                    xhr.onreadystatechange = ...;<br>

                    xhr.send();<br>
                </code>
            </p>

            <div class="content-rools-inf">
                <h5>Прочие заголовки</h5>

                <p>Браузер автоматически добавит к запросу важнейшие HTTP-заголовки, такие как Content-Length и
                    Connection.</p>

                <p>По спецификации браузер запрещает их явную установку, как и некоторых других низкоуровневых
                    HTTP-заголовков, которые могли бы ввести в заблуждение сервер относительно того, кто и сколько
                    данных ему прислал, например Referer. Это сделано в целях контроля правильности запроса и для
                    безопасности.</p>
            </div>


            <div class="content-rools-inf">
                <h5>Сообщаем про AJAX</h5>

                <p>Запрос, отправленный кодом выше через XMLHttpRequest, никак не отличается от обычной отправки формы.
                    Сервер не в состоянии их отличить.</p>

                <p>Поэтому в некоторых фреймворках, чтобы сказать серверу, что это AJAX, добавляют специальный
                    заголовок, например такой:</p>

                <p>
                    <code style="color: inherit">
                        xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
                    </code>
                </p>
            </div>
        </div>
        <h3>POST с urlencoded</h3>

        <div class="metod-content">
            <p>В методе POST параметры передаются не в URL, а в теле запроса. Оно указывается в вызове
                send(body).</p>

            <p>В стандартных HTTP-формах для метода POST доступны три кодировки, задаваемые через атрибут
                enctype:</p>

            <ul>
                <li>application/x-www-form-urlencoded</li>
                <li>multipart/form-data</li>
                <li>text-plain</li>
            </ul>

            <p>В зависимости от enctype браузер кодирует данные соответствующим способом перед отправкой на
                сервер.</p>

            <p>В случае с XMLHttpRequest мы, вообще говоря, не обязаны использовать ни один из этих способов.
                Главное, чтобы сервер наш запрос понял. Но обычно проще всего выбрать какой-то из стандартных.</p>

            <p>В частности, при POST обязателен заголовок Content-Type, содержащий кодировку. Это указание для
                сервера – как обрабатывать (раскодировать) пришедший запрос.</p>

            <p>Для примера отправим запрос в кодировке application/x-www-form-urlencoded:</p>

            <p>
                <code>
                    var xhr = new XMLHttpRequest();<br>
                    <br>
                    var body = 'name=' + encodeURIComponent(name) +<br>
                    '&surname=' + encodeURIComponent(surname);<br>
                    <br>
                    xhr.open("POST", '/submit', true)<br>
                    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');<br>
                    xhr.onreadystatechange = ...;<br>
                    <br>
                    xhr.send(body);<br>
                </code>
            </p>

            <div class="content-rools">
                <h5>Только UTF-8</h5>

                <p>Всегда используется только кодировка UTF-8, независимо от языка и кодировки страницы.</p>

                <p>Если сервер вдруг ожидает данные в другой кодировке, к примеру windows-1251, то их нужно будет
                    перекодировать.</p>
            </div>
        </div>

        <h3>Кодировка multipart/form-data</h3>

        <div class="metod-content">
            <p>Кодировка urlencoded за счёт замены символов на %код может сильно «раздуть» общий объём пересылаемых
                данных. Поэтому для пересылки файлов используется другая кодировка: <a
                        href="https://ru.wikipedia.org/wiki/Multipart/form-data">multipart/form-data.</a></p>

            <p>В этой кодировке поля пересылаются одно за другим, через строку-разделитель.</p>

            <p>Чтобы использовать этот способ, нужно указать его в атрибуте enctype и метод должен быть POST:</p>

            <p>
                <code>
                    &lt;form action="/submit" method="POST" enctype="multipart/form-data"><br>
                    &lt;input name="name" value="Виктор"><br>
                    &lt;input name="surname" value="Цой"><br>
                    &lt;/form>
                </code>
            </p>

            <p>Форма при такой кодировке будет выглядеть примерно так:</p>

            <p>
                <code>
                    ...Заголовки...<br>
                    Content-Type: multipart/form-data; boundary=RaNdOmDeLiMiTeR<br>
                    <br>
                    --RaNdOmDeLiMiTeR<br>
                    Content-Disposition: form-data; name="name"<br>
                    <br>
                    Виктор<br>
                    --RaNdOmDeLiMiTeR<br>
                    Content-Disposition: form-data; name="surname"<br>
                    <br>
                    Цой<br>
                    --RaNdOmDeLiMiTeR--
                </code>
            </p>

            <p>…То есть, поля передаются одно за другим, значения не кодируются, а чтобы было чётко понятно, какое
                значение где – поля разделены случайно сгенерированной строкой, которую называют «boundary» (англ.
                граница), в примере выше это RaNdOmDeLiMiTeR:</p>

            <p>Сервер видит заголовок Content-Type: multipart/form-data, читает из него границу и раскодирует поля
                формы.</p>

            <p>Такой способ используется в первую очередь при пересылке файлов, так перекодировка мегабайтов через
                urlencoded существенно загрузила бы браузер. Да и объём данных после неё сильно вырос бы.</p>

            <p>Однако, никто не мешает использовать эту кодировку всегда для POST запросов. Для GET доступна только
                urlencoded.</p>
        </div>

        <h3>POST с multipart/form-data</h3>

        <div class="metod-content">
            <p>Сделать POST-запрос в кодировке multipart/form-data можно и через XMLHttpRequest.</p>

            <p>Достаточно указать в заголовке Content-Type кодировку и границу, и далее сформировать тело запроса,
                удовлетворяющее требованиям кодировки.</p>

            <p>Пример кода для того же запроса, что и раньше, теперь в кодировке multipart/form-data:</p>

            <p>
                <code>
                    var data = {<br>
                    name: 'Виктор',<br>
                    surname: 'Цой'<br>
                    };<br>
                    <br>
                    var boundary = String(Math.random()).slice(2);<br>
                    var boundaryMiddle = '--' + boundary + '\r\n';<br>
                    var boundaryLast = '--' + boundary + '--\r\n'<br>
                    <br>
                    var body = ['\r\n'];<br>
                    for (var key in data) {<br>
                    // добавление поля<br>
                    body.push('Content-Disposition: form-data; name="' + key + '"\r\n\r\n' + data[key] + '\r\n');<br>
                    }<br>
                    <br>
                    body = body.join(boundaryMiddle) + boundaryLast;<br>
                    <br>
                    // Тело запроса готово, отправляем<br>
                    <br>
                    var xhr = new XMLHttpRequest();<br>
                    xhr.open('POST', '/submit', true);<br>
                    <br>
                    xhr.setRequestHeader('Content-Type', 'multipart/form-data; boundary=' + boundary);<br>
                    <br>
                    xhr.onreadystatechange = function() {<br>
                    if (this.readyState != 4) return;<br>
                    <br>
                    alert( this.responseText );<br>
                    }<br>
                    <br>
                    xhr.send(body);
                </code>
            </p>

            <p>Тело запроса будет иметь вид, описанный выше, то есть поля через разделитель.</p>

            <div class="content-rools-inf">
                <h5>Отправка файла</h5>

                <p>Можно создать запрос, который сервер воспримет как загрузку файла.</p>

                <p>Для добавления файла нужно использовать тот же код, что выше, модифицировав заголовки перед полем,
                    которое является файлом, так:</p>

                <p>
                    <code>

                        Content-Disposition: form-data; name="myfile"; filename="pic.jpg"<br>
                        Content-Type: image/jpeg<br>
                        (пустая строка)<br>
                        содержимое файла

                    </code>
                </p>
            </div>
        </div>

        <h3>FormData</h3>

        <div class="metod-content">
            <p>Современные браузеры, исключая IE9- (впрочем, есть полифилл), поддерживают встроенный объект <a
                    href="https://developer.mozilla.org/en-US/docs/Web/API/FormData/Using_FormData_Objects">FormData,
            </a>который кодирует формы для отправки на сервер.</p>

            <p>Например:</p>

            <p>
                <code>

                    &lt;form name="person"><br>
                    &lt;input name="name" value="Виктор"><br>
                    &lt;input name="surname" value="Цой"><br>
                    &lt;/form><br>

                    &lt;script><br>
                    // создать объект для формы<br>
                    var formData = new FormData(document.forms.person);<br>
                    <br>
                    // добавить к пересылке ещё пару ключ - значение<br>
                    formData.append("patronym", "Робертович");<br>
                    <br>
                    // отослать<br>
                    var xhr = new XMLHttpRequest();<br>
                    xhr.open("POST", "/url");<br>
                    xhr.send(formData);<br>
                    &lt;/script>

                </code>
            </p>

            <p>Этот код отправит на сервер форму с полями name, surname и patronym.</p>

            <p>Интерфейс:</p>
            <ul>
                <li>Конструктор new FormData([form]) вызывается либо без аргументов, либо с DOM-элементом формы.</li>
                <li>Метод formData.append(name, value) добавляет данные к форме.</li>
            </ul>

            <p>Объект formData можно сразу отсылать, интеграция FormData с XMLHttpRequest встроена в браузер. Кодировка
                при этом будет multipart/form-data.</p>
        </div>

        <h3>Другие кодировки</h3>

        <div class="metod-content">
            <p>XMLHttpRequest сам по себе не ограничивает кодировку и формат пересылаемых данных.</p>

            <p>Поэтому для обмена данными часто используется формат JSON:</p>

            <p>
                <code>
                    var xhr = new XMLHttpRequest();<br>
                    <br>
                    var json = JSON.stringify({<br>
                    name: "Виктор",<br>
                    surname: "Цой"<br>
                    });<br>
                    <br>
                    xhr.open("POST", '/submit', true)<br>
                    xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');<br>
                    <br>
                    xhr.onreadystatechange = ...;<br>
                    <br>
                    // Отсылаем объект в формате JSON и с Content-Type application/json<br>
                    // Сервер должен уметь такой Content-Type принимать и раскодировать<br>
                    xhr.send(json);<br>
                </code>
            </p>
        </div>

        <h3>Вывод</h3>

        <div class="metod-content">
            <ul>
                <li>У форм есть две основные кодировки: application/x-www-form-urlencoded – по умолчанию и
                    multipart/form-data – для POST запросов, если явно указана в enctype. Вторая кодировка обычно
                    используется для больших данных и только для тела запроса.
                </li>
                <li>Для составления запроса в application/x-www-form-urlencoded используется функция
                    encodeURIComponent.
                </li>
                <li>Для отправки запроса в multipart/form-data – объект FormData.</li>
                <li>Для обмена данными JS ↔ сервер можно использовать и просто JSON, желательно с указанием кодировки в
                    заголовке Content-Type.
                </li>
            </ul>
            <p>В XMLHttpRequest можно использовать и другие HTTP-методы, например PUT, DELETE, TRACE. К ним применимы
                все те же принципы, что описаны выше.</p>
        </div>
    </div>


    <div hide-xs hide-sm flex="15" class="main-right-blok fixed"
         style="position: fixed;padding-right: 50px; font-size: 160%">
    </div>

</div>
<script>
    function klj() {
        alert(encodeURIComponent(' '));
        alert(encodeURIComponent('/'));
        alert(encodeURIComponent('Б'));
        alert(encodeURIComponent('Богдан'));
    }
</script>














