<div ng-keypress="sendKey($event.keyCode)" layout="row" layout-xs="column">

    <!--Chat window and navigation-->
    <div flex>
        <div class="textWindow">
            <!--<div id="chatText"></div>-->
            <!--<div ng-repeat="i in chattext">
                <span ng-style="{color:i.color}">{{i.name}}</span>
                <span>{{i.time}}</span>
                <span>{{i.text}}</span>
            </div>-->
            <md-content >
                <md-list>
                    <md-list-item class="md-2-line" ng-repeat="i in chattext">
                        <img ng-src="{{i.img}}" alt="{{i.name}}" class="md-avatar"  ng-show="i.img">
                        <div class="md-list-item-text" ng-style="{background:i.color}">
                            <h3 >{{i.name}}</h3>
                            <span>{{i.time}}</span>
                            <span>{{i.text}}</span>
                        </div>
                        <md-divider inset></md-divider>
                    </md-list-item>
                </md-list>
            </md-content>
        </div>

        <h6>To send message press Ctrl + Enter (In google chrome) </h6>
        <table class="chat-table">

            <tr>
                <td>
                    <md-button class="md-raised md-primary" data-toggle="tooltip" data-placement="right"
                               title="Кнопка SEND для остальных браузеров если не срабатывает Ctrl + Enter "
                               ng-click="chatVM.sendTxtWizivig()">Send
                    </md-button>
                </td>
                <td>
                    <md-switch class="md-primary"  ng-model="wizivigStatus" aria-label="Switch 1" ng-change=" changWizMas()">
                       {{ wizMassage }}
                    </md-switch>
                </td>
                <td>
                    <md-button class="md-raised md-primary " ng-click="showImageForm = true">
                        your image
                    </md-button>
                </td>

            </tr>
        </table>

        <form ng-submit="chatVM.sendMessage()">
            <div id="newText" ng-hide="wizivigStatus">
                     <textarea class="chatInput" name="textInput"
                               ng-model="textInput"></textarea>
            </div>
        </form>


        <div class="textarea-wizivigg" ng-show="wizivigStatus">
            <form>
                    <textarea cols="30" rows="40" class="textarea-wizivigg" name="body" ckeditor="editorOptions"
                              ng-model="textWizivig"></textarea>
            </form>
        </div>
    </div>


    <div class=" chat-class-2" ng-controller="ChatUploadImageCtrl" flex>
        <div ng-show="smolImage">
            <img class="avatarImage" ng-src="{{smolImage}}" ng-hide="showImageForm"/>
            <!--<img class="upload-image" ng-src="{{croppedDataUrl}}" ng-show="showImageForm"/>-->
        </div>
        <div class="crop-image" ng-show="showImageForm">
            <div ngf-drop ng-model="picFile" ngf-pattern="image/*"
                 class="cropArea ">
                <img-crop image="picFile  | ngfDataUrl"
                          result-image="croppedDataUrl" ng-init="croppedDataUrl=''">
                </img-crop>
            </div>
        </div>

        <form name="myForm" ng-show="showImageForm">
            <div>Crop Image and Upload</div>
            <md-button class="md-raised md-primary" ngf-select ng-model="picFile" accept="image/*">
                Select Picture
            </md-button>
            <md-button class="md-raised md-primary" ng-click="upload(croppedDataUrl)">Submit</md-button>

            <!--<span class="err" ng-show="errorMsg">{{errorMsg}}</span>-->
        </form>



    </div>
</div>


