<div layout="row">
    <div hide-xs hide-sm hide-md flex="15" layout-md="column" >

        <div class="affix " style ="font-size: 200%" >
            <ul>
                <li>
                    <p ui-sref="menu.main-page.objMethods"> Array </p>
                </li>
                <li>
                    <p ui-sref="menu.main-page.objMethods"> Object Methods </p>
                </li>

            </ul>
        </div>
    </div>
    <div flex-xs="100" flex-sm="100" flex-md="60" flex="55" class="centr-blok ">

        <h2>JavaScript</h2>

        <p>
            JavaScript изначально создавался для того, чтобы сделать web-странички «живыми». Программы на этом языке
            называются скриптами. В браузере они подключаются напрямую к HTML и, как только загружается страничка – тут
            же выполняются.

            Программы на JavaScript – обычный текст. Они не требуют какой-то специальной подготовки.

            В этом плане JavaScript сильно отличается от другого языка, который называется Java.


            Когда создавался язык JavaScript, у него изначально было другое название: «LiveScript». Но тогда был очень
            популярен язык Java, и маркетологи решили, что схожее название сделает новый язык более популярным.

            Планировалось, что JavaScript будет эдаким «младшим братом» Java. Однако, история распорядилась по-своему,
            JavaScript сильно вырос, и сейчас это совершенно независимый язык, со своей спецификацией, которая
            называется ECMAScript, и к Java не имеет никакого отношения.

            У него много особенностей, которые усложняют освоение, но по ходу учебника мы с ними разберёмся.
            JavaScript может выполняться не только в браузере, а где угодно, нужна лишь специальная программа –
            интерпретатор. Процесс выполнения скрипта называют «интерпретацией».
            Компиляция и интерпретация, для программистов
            Для выполнения программ, не важно на каком языке, существуют два способа: «компиляция» и «интерпретация».

            Компиляция – это когда исходный код программы, при помощи специального инструмента, другой программы,
            которая называется «компилятор», преобразуется в другой язык, как правило – в машинный код. Этот машинный
            код затем распространяется и запускается. При этом исходный код программы остаётся у разработчика.
            Интерпретация – это когда исходный код программы получает другой инструмент, который называют
            «интерпретатор», и выполняет его «как есть». При этом распространяется именно сам исходный код (скрипт).
            Этот подход применяется в браузерах для JavaScript.
            Современные интерпретаторы перед выполнением преобразуют JavaScript в машинный код или близко к нему,
            оптимизируют, а уже затем выполняют. И даже во время выполнения стараются оптимизировать. Поэтому JavaScript
            работает очень быстро.
            Во все основные браузеры встроен интерпретатор JavaScript, именно поэтому они могут выполнять скрипты на
            странице. Но, разумеется, JavaScript можно использовать не только в браузере. Это полноценный язык,
            программы на котором можно запускать и на сервере, и даже в стиральной машинке, если в ней установлен
            соответствующий интерпретатор.
            Современный JavaScript – это «безопасный» язык программирования общего назначения. Он не предоставляет
            низкоуровневых средств работы с памятью, процессором, так как изначально был ориентирован на браузеры, в
            которых это не требуется.

            Что же касается остальных возможностей – они зависят от окружения, в котором запущен JavaScript. В браузере
            JavaScript умеет делать всё, что относится к манипуляции со страницей, взаимодействию с посетителем и, в
            какой-то мере, с сервером:

            Создавать новые HTML-теги, удалять существующие, менять стили элементов, прятать, показывать элементы и т.п.
            Реагировать на действия посетителя, обрабатывать клики мыши, перемещения курсора, нажатия на клавиатуру и
            т.п.
            Посылать запросы на сервер и загружать данные без перезагрузки страницы (эта технология называется "AJAX").
            Получать и устанавливать cookie, запрашивать данные, выводить сообщения…
            …и многое, многое другое!


            JavaScript — прототипно-ориентированный сценарный язык программирования. Является реализацией языка
            ECMAScript
            (стандарт ECMA-262[6]).

            JavaScript обычно используется как встраиваемый язык для программного доступа к объектам приложений.
            Наиболее
            широкое применение находит в браузерах как язык сценариев для придания интерактивности веб-страницам.

            Основные архитектурные черты: динамическая типизация, слабая типизация, автоматическое управление памятью,
            прототипное программирование, функции как объекты первого класса.

            На JavaScript оказали влияние многие языки, при разработке была цель сделать язык похожим на Java, но при
            этом
            лёгким для использования непрограммистами. Языком JavaScript не владеет какая-либо компания или организация,
            что
            отличает его от ряда языков программирования, используемых в веб-разработке[~ 1][7].

            Название «JavaScript» является зарегистрированным товарным знаком компании Oracle Corporation

            В 1992 году компания Nombas (впоследствии приобретённая Openwave[en]) начала разработку встраиваемого
            скриптового
            языка Cmm (Си-минус-минус), который, по замыслу разработчиков, должен был стать достаточно мощным, чтобы
            заменить
            макросы, сохраняя при этом схожесть с Си, чтобы разработчикам не составляло труда изучить его[9]. Главным
            отличием
            от Си была работа с памятью. В новом языке всё управление памятью осуществлялось автоматически: не было
            необходимости создавать буферы, объявлять переменные, осуществлять преобразование типов. В остальном языки
            сильно
            походили друг на друга: в частности, Cmm поддерживал стандартные функции и операторы Си[10]. Cmm был
            переименован в
            ScriptEase, поскольку исходное название звучало слишком негативно, а упоминание в нём Си «отпугивало»
            людей[9][11].
            На основе этого языка был создан проприетарный продукт CEnvi. В конце ноября 1995 года Nombas разработала
            версию
            CEnvi, внедряемую в веб-страницы. Страницы, которые можно было изменять с помощью скриптового языка,
            получили
            название Espresso Pages — они демонстрировали использование скриптового языка для создания игры, проверки
            пользовательского ввода в формы и создания анимации. Espresso Pages позиционировались как демоверсия,
            призванная
            помочь представить, что случится, если в браузер будет внедрён язык Cmm. Работали они только в 16-битовом
            Netscape
            Navigator под управлением Windows

            Перед Бренданом Эйхом, нанятым в компанию Netscape 4 апреля 1995 года[14], была поставлена задача внедрить
            язык
            программирования Scheme или что-то похожее в браузер Netscape. Поскольку требования были размыты, Эйха
            перевели в
            группу, ответственную за серверные продукты, где он проработал месяц, занимаясь улучшением протокола
            HTTP[14]. В мае
            разработчик был переброшен обратно, в команду, занимающуюся клиентской частью (браузером), где он немедленно
            начал
            разрабатывать концепцию нового языка программирования. Менеджмент разработки браузера, включая Тома Пакина
            (Tom
            Paquin), Михаэля Тоя (англ.), Рика Шелла (Rick Schell), был убеждён, что Netscape должен поддерживать язык
            программирования, встраиваемый в HTML-код страницы
        </p>

    </div>
    <div hide-xs hide-sm flex-md="40" flex="30" class="main-right-blok fixed"
         style="position: fixed;padding-right: 50px; font-size: 160%">

    </div>
</div>