<div class="header ">
    <div class="md-display-4" hide-xs hide-sm>
        FrontendDeveloper
    </div>
    <div class="md-display-3" show-xs hide-gt-sm>
        Frontend Developer
    </div>


</div>

<div class="rtf">
    <div class="containerr">
        <a href="#" id="touch-menu"><b>Menu </b><span ui-sref=".main-page.html"> &nbsp;&nbsp;&nbsp; HTML</span>
            <span ui-sref=".main-page.css"> &nbsp;&nbsp;&nbsp; CSS</span>
            <span ui-sref=".main-page.js"> &nbsp;&nbsp;&nbsp; JavaScript</span>
            <span ui-sref=".main-page.angularJs"> &nbsp;&nbsp;&nbsp; AngularJS</span>
        </a>

        <nav>
            <ul class="nav clearfix">
                <li><a ui-sref=".main-page">Home</a></li>
                <li><a ui-sref=".google-maps">G-maps</a></li>
                <li><a ui-sref=".chat_app" ng-show="statusEnterExit">Chat</a></li>
                <li><a ui-sref=".albom">Альбом</a></li>
                <li><a ui-sref=".calc">Калькулятор</a></li>
                <li><a ui-sref=".description">Описание Страницы</a></li>

                <li ng-show="statusEnterExit"><a style="color: #00d6b2" class=" animate-zoom" ui-sref=".chat_app"
                       ng-class="{ thumbnail: nameChatUser}"
                       >{{"Welcom "+nameUser}}<span><img ng-src="{{smolImage}}">{{"You NIK "+nameChatUser}}</span></a>
                </li>

                <li ><a ui-sref=".enter_code_form"
                       ng-click="registrationOn = true; closeCarusel = true"
                       ng-hide="statusEnterExit">Login</a></li>
                <li ><a href="" class="" ng-show="statusEnterExit" ng-click="MenuCtrlVM.menuExit()">Logout</a></li>


            </ul>
        </nav>
    </div>
    <div style="margin-top:70px">
        <div ui-view></div>

        <div ui-view="enter_code_form" ng-show="registrationOn"></div>

        <div ui-view="registration_user_form"></div>

        <div ui-view="chat" ng-show="statusEnterExit"></div>
    </div>
</div>