<div class="enterCodeMyStyle " layout="column"   layout-align="center center"


        >
    <md-button class="md-raised md-primary " ui-sref="menu.registration_user_form"
            >Registration
    </md-button>
    <form ng-submit="enCodVM.enterNameCode()">


        <md-input-container class="md-block">

            <label>Name<span class="worning-class">*</span></label>

            <input type="text" name="name" ng-model="enCodVM.name" >

        </md-input-container>

        <div ng-messages="enCodVM.messageUserErrorName">
            <div class="worning-class"  ng-bind="enCodVM.messageUserErrorName">

            </div>
        </div>


        <div class="form-group">


            <md-input-container class="md-block">

                <label>Pasword<span class="worning-class">*</span></label>

                <input type="password" name="code" ng-model="enCodVM.code" >

            </md-input-container>

            <div ng-messages="enCodVM.messageUserErrorCode">
                <div class="worning-class"
                     ng-bind="enCodVM.messageUserErrorCode">

                </div>
            </div>

        </div>


        <md-button type="submit" class="md-raised md-primary  aStyle">
            Enter
        </md-button>
    </form>

</div>
