<div class="main-conteiner">


    <div flex class="first-blok">

        <div class="main-page-menu">
            <nav>
                <ul>
                    <li><a id="touch1" ui-sref=".js"><b>JavaScript <span class="glyphicon glyphicon-chevron-down"></span></b></a></li>
                    <li><a id="touch2" ui-sref=".ajax"><b>Ajax and Socket<span class="glyphicon glyphicon-chevron-down"></span> </b></a></li>
                    <li><a   ui-sref=".html">HTML,</a></li>
                    <li><a ui-sref=".css"> CSS, </a></li>
                    <li><a ui-sref=".angularJs"> AngularJS, </a></li>
                </ul>
            </nav>
            <nav>
                <ul class="nav1 clearfix">
                    <li><a ui-sref=".array"> Array </a></li>
                    <li><a ui-sref=".objMethods" > Object Methods </a></li>
                    <li><a ui-sref=".constructor">Constructor</a></li>
                </ul>
            </nav>
            <nav>
                <ul class="nav2 clearfix">
                    <li><a ui-sref=".xmlHttp">XMLHttpRequest</a></li>
                    <li><a ui-sref=".XMLHttpRequest-POST">XMLHttpRequest-POST</a></li>
                    <li><a ui-sref=".XMLHttpRequest-cross-domain">Cross-domain</a></li>
                    <li><a ui-sref=".XMLHttpRequest-progress-indicator">Progress-indicator</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <div show-sm hide-gt-md style="font-size: 100%;  text-align: justify;">
        <h4>Moiseenko Bogdan</h4>
        <h6>Email: bogdan.nadgobb@gmail.com</h6>
        <h6>Phone: +38(096)140-36-87</h6>

    </div>

    <div layout="row">

        <div hide-xs hide-sm hide-md flex="15" layout-md="column" style="position: relative;font-size: 80%;
             word-wrap: break-word;">

            <div class="afix " style="position: fixed; font-size: 100%">

            </div>
        </div>

       <!-- <div flex-xs="100" flex-sm="100" flex-md="60" flex="55" class="centr-blok ">
            <p>
                Эта страница сделана на фреймворка AngularJS, оформлена и адаптирована под мобильные устройства при
                помощи Angular Material,
                сервер написан на Node.js и его фреймворке Express, передача данных выполняется при помощи Socket.io.
            </p>


        </div>-->
        <div hide-xs hide-sm flex-md="40" flex="30" class="main-right-blok fixed"
             style="position: fixed;padding-right: 50px; font-size: 160%">

        </div>


    </div>

</div>
<div ui-view></div>