<div layout="row">
    <div hide-xs hide-sm hide-md flex="15" layout-md="column" style="position: relative;font-size: 80%;
             word-wrap: break-word;">
        -------------

    </div>

    <div flex-xs="100" flex-sm="100" flex-md="60" flex="55" class="centr-blok ">
        <h1>Создание объектов через "new"</h1>


        <div class="content-class">

            <div class="metod-content">
                <p>Обычный синтаксис {...} позволяет создать один объект. Но зачастую нужно создать много однотипных
                    объектов.Для этого используют «функции-конструкторы», запуская их при помощи специального оператора
                    new.</p>

                <h4>Конструктор</h4>

                <p>Конструктором становится любая функция, вызванная через new.</p>

                <p>Например</p>

                <p><code>
                    function Animal(name) {<br>
                    this.name = name;<br>
                    this.canWalk = true;<br>
                    }<br>

                    var animal = new Animal("ёжик");<br>
                </code></p>

                <p>Заметим, что, технически, любая функция может быть использована как конструктор. То есть, любую
                    функцию можно вызвать при помощи new. Как-то особым образом указывать, что она – конструктор – не
                    надо.</p>

                <p>Но, чтобы выделить функции, задуманные как конструкторы, их называют с большой буквы: Animal, а не
                    animal.</p>

                <p>Детальнее – функция, запущенная через new, делает следующее:</p>


                <ol>
                    <li>Создаётся новый пустой объект.</li>
                    <li>Ключевое слово this получает ссылку на этот объект.
                    </li>
                    <li>Функция выполняется. Как правило, она модифицирует this, добавляет методы, свойства.</li>
                    <li>Возвращается this.</li>
                </ol>
                <p>В результате вызова new Animal("ёжик"); получаем такой объект:</p>

                <p>
                    <code>
                        animal = {<br>
                        name: "ёжик",<br>
                        canWalk: true<br>
                        }
                    </code>
                </p>

                <p>Иными словами, при вызове new Animal происходит что-то в таком духе (первая и последняя строка – это
                    то, что делает интерпретатор):</p>

                <p>
                    <code>
                        function Animal(name) { <br>
                        // this = {};<br>

                        // в this пишем свойства, методы<br>
                        this.name = name;<br>
                        this.canWalk = true;<br>

                        // return this;<br>
                        }
                    </code>
                </p>

                <p>Теперь многократными вызовами new Animal с разными параметрами мы можем создать столько объектов,
                    сколько нужно. Поэтому такую функцию и называют конструктором – она предназначена для
                    «конструирования» объектов.
                </p>
            </div>
            <h4>new function() { … }</h4>

            <div class="metod-content">
                <p>Иногда функцию-конструктор объявляют и тут же используют, вот так:</p>

                <p>
                    <code>

                        var animal = new function() {<br>
                        this.name = "Васька";<br>
                        this.canWalk = true;<br>
                        };

                    </code>
                </p>

                <p>Так делают, когда хотят создать единственный объект данного типа. Примере выше с тем же успехом можно
                    было бы переписать как:</p>

                <p>
                    <code>
                        var animal = {<br>
                        name: "Васька",<br>
                        canWalk: true<br>
                        }
                    </code>
                </p>

                <p>…Но обычный синтаксис {...} не подходит, когда при создании свойств объекта нужны более сложные
                    вычисления. Их можно проделать в функции-конструкторе и записать результат в this.</p>
            </div>

            <h4>Правила обработки return</h4>

            <div class="metod-content">
                <p>Как правило, конструкторы ничего не возвращают. Их задача – записать всё, что нужно, в this, который
                    автоматически станет результатом.</p>

                <p>Но если явный вызов return всё же есть, то применяется простое правило:</p>
                <ol>
                    <li>При вызове return с объектом, будет возвращён он, а не this.</li>
                    <li>При вызове return с примитивным значением, оно будет отброшено.</li>
                </ol>
                <p>Иными словами, вызов return с объектом вернёт объект, а с чем угодно, кроме объекта – возвратит, как
                    обычно, this.
                </p>

                <p>Например, возврат объекта:</p>

                <p>
                    <code>
                        function BigAnimal() {<br>

                        this.name = "Мышь";<br>

                        return { name: "Годзилла" }; // <-- возвратим объект<br>
                        }<br>

                        <p class="div-example-run">alert( new BigAnimal().name );
                            <span class="rezoltAfterButon" style="margin-left: 100px">// {{nameButton}}</span><md-button style="float:right;color: inherit " ng-click="KNvm.action(1)">//<span
                                    class="glyphicon glyphicon-play"></span>
                            </md-button>
                        </p>
                    </code>
                </p>
                <p>А вот пример с возвратом строки:</p>

                <p>
                    <code>
                        function BigAnimal() {<br>

                        this.name = "Мышь";<br>

                        return "Годзилла"; // <-- возвратим примитив<br>
                        }<br>

                        <p>alert( new BigAnimal().name ); // Мышь, получили this (а Годзилла пропал)</p>
                    </code>
                </p>
            </div>

            <h4>Создание методов в конструкторе</h4>

            <div class="metod-content">

                <p>
                    Использование функций для создания объекта дает большую гибкость. Можно передавать конструктору
                    параметры, определяющие как его создавать, и он будет «клепать» объекты заданным образом.
                </p>

                <p>
                    Добавим в создаваемый объект ещё и метод.
                </p>

                <p>
                    Например, new User(name) создает объект с заданным значением свойства name и методом sayHi:
                </p>

                <p>
                    <code>
                        function User(name) {<br>
                        this.name = name;<br>

                        this.sayHi = function() {<br>
                        alert( "Моё имя: " + this.name );<br>
                        };<br>
                        }<br>

                        var ivan = new User("Иван");<br>

                        <p class="div-example-run">ivan.sayHi();
                            <md-button style="float:right;color: inherit " ng-click="KNvm.action(2)">
                                //{{nameButton2}}<span
                                    class="glyphicon glyphicon-play"></span>
                            </md-button>
                        </p>

                        /*<br>
                        ivan = {v
                        name: "Иван",<br>
                        sayHi: функцияv
                        }<br>
                        */
                    </code>
                </p>

            </div>

            <h4>Локальные переменные</h4>

            <div class="metod-content">
                <p>В функции-конструкторе бывает удобно объявить вспомогательные локальные переменные и вложенные
                    функции, которые будут видны только внутри:</p>

                <p>
                    <code>
                        function User(firstName, lastName) {<br>
                        // вспомогательная переменная<br>
                        var phrase = "Привет";<br>
                        <br>
                        // вспомогательная вложенная функция<br>
                        function getFullName() {<br>
                        return firstName + " " + lastName;<br>
                        }<br>
                        <br>
                        this.sayHi = function() {<br>
                        alert( phrase + ", " + getFullName() ); // использование<br>
                        };<br>
                        }<br>
                        <br>
                        var vasya = new User("Вася", "Петров");<br>

                        <p class="div-example-run">vasya.sayHi();
                            <md-button style="float:right;color: inherit " ng-click="KNvm.action(3)">
                                //{{nameButton3}}<span
                                    class="glyphicon glyphicon-play"></span>
                            </md-button>
                        </p>
                    </code>
                </p>
            </div>
        </div>


    </div>

    <div hide-xs hide-sm flex-md="40" flex="30" class="main-right-blok fixed">
        --------------
    </div>

</div>