<div layout="row">
    <div hide-xs hide-sm flex="15" layout-md="column">

    </div>


    <div class="content-class centr-blok" flex-xs="100" flex-sm="100" flex="70">
        <h2>Введение в AJAX и COMET</h2>

        <h5>Что такое AJAX и с чем его едят</h5>

        <h3>Что такое AJAX?</h3>

        <div class="metod-content">
            <p>AJAX (аббревиатура от «Asynchronous Javascript And Xml») – технология обращения к серверу без
                перезагрузки страницы.</p>

            <p>За счет этого уменьшается время отклика и веб-приложение по интерактивности больше напоминает
                десктоп.</p>

            <p>Несмотря на то, что в названии технологии присутствует буква X (от слова XML), использовать XML вовсе не
                обязательно. Под AJAX подразумевают любое общение с сервером без перезагрузки страницы, организованное
                при помощи JavaScript.

            </p>

            <p>Пример</p>
            <p>
                <code>
                    &lt;form name="person"><br>
                    &lt;input name="name" type="TEXT" id="user" size="40"><br>
                    &lt;input name="surname" type="TEXT" id="password" size="40"><br>
                    &lt;input type="button" id="submit" value="Submit" ng-click="start37()"><br>
                    &lt;/form><br><br>



                    var xhr = new XMLHttpRequest();<br>
                    <br>
                    var user = document.getElementById('user').value;<br>
                    var password = document.getElementById('password').value;<br>
                    <br>
                    var body = "name=" + user + "&pass=" + password;<br>
                    <br>
                    xhr.open("POST", 'http://localhost:3070/login', true);<br>
                    <br>
                    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');<br>
                    // xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');<br>
                    xhr.send(body);<br>
                    xhr.onreadystatechange = function () {<br>
                    if (xhr.readyState == 4 && xhr.status == 200) {<br>
                    var newText = document.getElementById('nTjk');<br>
                    var newElement = document.createElement('li');<br>
                    newText.innerHTML = xhr.responseText;<br>
                    <br>
                    }<br>
                    };

                </code>
            </p>

            <form name="person">
                <input name="name" type="TEXT" id="user" size="40" placeholder="Введите имя"><br>
                <input name="surname" type="TEXT" id="password" size="40" placeholder="Введите пароль"><br>
                <input type="button" id="submit" value="Submit" ng-click="start37()">
            </form>

            <p id="nTjk"></p>

        </div>

        <h3>Что я могу сделать с помощью AJAX?</h3>

        <div class="metod-content">
            <h5>Элементы интерфейса</h5>

            <p>В первую очередь AJAX полезен для форм и кнопок, связанных с элементарными действиями: добавить в
                корзину, подписаться, и т.п.</p>

            <p>Сейчас – в порядке вещей, что такие действия на сайтах осуществляются без перезагрузки страницы.</p>

            <h5>Динамическая подгрузка данных</h5>

            <p>Например, дерево, которое при раскрытии узла запрашивает данные у сервера.</p>

            <h5>Живой поиск</h5>

            <p>Живой поиск – классический пример использования AJAX, взятый на вооружение современными поисковыми
                системами. Пользователь начинает печатать поисковую фразу, а JavaScript предлагает возможные варианты,
                получая
                список самых вероятных дополнений с сервера.</p>

            <p>Код, который это обеспечивает, работает следующим образом.</p>
            <ol>
                <li>
                    Код активируется примерно при каждом нажатии клавиши, но не чаще чем раз в 100 мс (примерно).
                </li>
                <li>
                    Создается скрытый DIV и заполняется ответом сервера:
                    <ul>
                        <li>
                            - Текущий результат подсвечен, можно перемещаться и выбирать
                        </li>
                        <li>
                            - При нажатии правой стрелки или при клике -- поиск в подрезультатах
                        </li>
                    </ul>
                </li>
                <li>
                    Результаты запросов кешируются, повторных обращений к серверу не происходит.
                </li>
                <li>
                    В Google не только предлагаются варианты, но система тут же инициирует и сам поиск, т.е. не нужно
                    даже нажимать `key:Enter`.
                </li>
            </ol>
            <h5>Технически, с помощью AJAX можно обмениваться любыми данными с сервером.</h5>

            <p>Обычно используются форматы:</p>
            <ul>
                <li>
                    JSON – для отправки и получения структурированных данных, объектов.
                </li>
                <li>
                    XML – если сервер почему-то работает в формате XML, то можно использовать и его, есть средства.
                </li>
                <li>
                    HTML/текст – можно и просто загрузить с сервера код HTML или текст для показа на странице.
                </li>
                <li>
                    Бинарные данные, файлы – гораздо реже, в современных браузерах есть удобные средства для них.
                </li>
            </ul>
        </div>

        <h3>Что такое COMET?</h3>

        <div class="metod-content">
            <p>COMET – общий термин, описывающий различные техники получения данных по инициативе сервера.</p>

            <p>Можно сказать, что AJAX – это «отправил запрос – получил результат», а COMET – это «непрерывный канал, по
                которому приходят данные».</p>

            <p>Примеры COMET-приложений:</p>

            <ul>
                <li>
                    Чат – человек сидит и смотрит, что пишут другие. При этом новые сообщения приходят «сами по себе»,
                    он не должен нажимать на кнопку для обновления окна чата.
                </li>
                <li>
                    Аукцион – человек смотрит на экран и видит, как обновляется текущая ставка за товар.
                </li>
                <li>
                    Интерфейс редактирования – когда один редактор начинает изменять документ, другие видят информацию
                    об этом. Возможно и совместное редактирование, когда редакторы видят изменения друг друга.
                </li>
            </ul>
            <p>На текущий момент технология COMET удобно реализуется во всех браузерах.</p>
        </div>
    </div>


    <div hide-xs hide-sm flex="15" class="main-right-blok fixed"
         style="position: fixed;padding-right: 50px; font-size: 160%">
    </div>


</div>