<div class="container-fluid"  ng-keypress="addAnImage($event.keyCode,croppedDataUrl)">

    <div class="col-lg-4 col-md-5 col-sm-11 col-xs-11">
        <!--Form image processing-->

        <div class="col-lg-5 col-md-5 col-sm-4 col-xs-7 width-buttton-crop"
            >
            <img class="upload-image-karusel" ng-src="{{croppedDataUrl}}" ng-show="showImageForm"/>

            <table ng-show="showImageForm">
                <tr>
                    <td>
                        <md-button class="md-raised md-primary" ngf-select ng-model="picFile" accept="image/*"
                           ng-click="chekUpload = true">
                            Select Picture
                        </md-button>
                    </td>
                </tr>
                <tr>
                    <td>
                        Sign your picture: <input type="text" ng-model="imgText">
                    </td>
                </tr>
                <tr>
                    <td>
                        <md-button class="md-raised md-primary" ng-click="addImage(croppedDataUrl)">Submit</md-button>
                    </td>

                </tr>
                <tr>
                    <td>
                        <md-button class="md-raised md-primary" ng-click="showImageForm = false">Close Add Image</md-button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-8 col-xs-12">

            <form name="myForm" ng-show="showImageForm">
                <div ngf-drop ng-model="picFile" ngf-pattern="image/*"
                     class="cropArea">
                    <img-crop image="picFile  | ngfDataUrl"
                              result-image="croppedDataUrl" ng-init="croppedDataUrl=''">
                    </img-crop>
                </div>
                <span style="color: red"  ng-show="uploadMessage">{{uploadMessage}}</span>

                <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
            </form>

        </div>
        <div class="col-lg-10 col-md-11 col-sm-10 col-xs-12" ng-hide="showImageForm">
            <!--Button navigation-->
            <h4>At First Add 2 Your Image</h4>
            <table width="100%">
                <tr>
                    <td>
                        <md-button type="button" class="md-raised md-primary" ng-click="showImageForm = true"> Add you image</md-button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>
                            <input type="checkbox" ng-model="noWrapSlides">
                            Disable Slide Looping
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        Interval, in milliseconds: <input type="number" class="input-interval"
                                                          ng-model="myInterval">
                    </td>
                </tr>

                <tr ng-show="uploadMessage">
                    <td>
                        <span>{{uploadMessage}}</span>
                    </td>
                </tr>

            </table>

        </div>
    </div>


    <div class="col-lg-8 col-md-7 col-sm-11 col-xs-12">
        <!--Karusel-->
        <div>
            <div style="height: 100%">
                <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
                    <uib-slide ng-repeat="slide in slides" active="slide.active">
                        <img width="40%" height="40%" ng-src="{{slide.image}}"
                             style="margin:auto;">

                        <div class="carousel-caption">
                            <h4>Slide {{$index + 1}}</h4>

                            <p>{{slide.text}}</p>
                        </div>
                    </uib-slide>
                </uib-carousel>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4" ng-repeat="slide in slides">
                <div class="well">
                    <img class="animate-zoom" alt="{{slide.text}}" title="{{slide.text}}"
                         ng-src="{{slide.image}}"/>

                    <md-button class="md-raised md-warn" ng-click="deleteImage(slide.$$hashKey)">Delite</md-button>
                </div>

            </div>
        </div>
    </div>


</div>