<div layout="row">
    <div  hide-xs hide-sm hide-md flex="15" layout-md="column" >
        <table class="affix">
            <thead>
            <tr>
                <td>
                    Меню
                </td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>

                </td>
            </tr>
            </tbody>
        </table>

    </div>

    <div class="content-class centr-blok" flex-xs="100" flex-sm="100" flex-md="60" flex="55" >
        <h2>Масивы</h2>

        <div  class="metod-content">

            <p>
                Массив – разновидность объекта, которая предназначена для хранения пронумерованных значений и предлагает
                дополнительные методы для удобного манипулирования такой коллекцией.
                Массив – это объект, где в качестве ключей выбраны цифры, с дополнительными методами и свойством length.
            </p>

            <h4>Объявление массива</h4>

            <p>var arr = [ ];</p>

            <div class="div-example-run">
                <h5>Массив countries с {{array1.length}} элементами:
                    <md-button style="float:right;" class="md-primary" ng-click="ArrVM.action(0)">
                        (Исходный массив)<span
                            class="glyphicon glyphicon-play"></span></md-button>
                </h5>
            </div>
            <p>Элемент можно заменить</p>


            <div class="div-example-run">countries[1] = "France "
                <md-button style="float:right; " ng-click="ArrVM.action(1)">ON-<span
                        class="glyphicon glyphicon-play"></span></md-button>
            </div>

            <h4>Элемент можно добавить</h4>

            <p class="div-example-run">countriess[4] = "Canada"
                <md-button style="float:right;" ng-click="ArrVM.action( 2)">ON-<span
                        class="glyphicon glyphicon-play"></span></md-button>
            </p>
            <h4>Общее число элементов, хранимых в массиве, содержится в его свойстве length:</h4>


            <p class="div-example-run">alert(countries.length)
                <md-button style="float:right; " ng-click="ArrVM.action( 3)">ON-<span
                        class="glyphicon glyphicon-play"></span></md-button>
            </p>
        </div>

        <div class="metod-content">
            <h4>В массиве может храниться любое число элементов любого типа.</h4>

            <h5>var arr = {{arr2}}</h5>

            <h3>Методы удаления и добавения элемента в массиве (в конец масива) <a  name="endArray"></a> pop/push или (в начало)
                shift/unshift</h3>

        </div>

        <h3><a  href="#endArray" target="_self">Конец массива</a></h3>

        <div class="metod-content">
            <h4>Метод push</h4>
            <h5>Добавляет элемент в конец массива</h5>

            <p class="div-example-run">alert(countries.push("Japan"))
                <md-button style="float:right; " ng-click="ArrVM.action( 4)">ON-<span
                        class="glyphicon glyphicon-play"></span></md-button>
            </p>
            <h4>Метод pop</h4>

            <p>Удаляет последний элемент из массива и возвращает его:</p>

            <p class="div-example-run">alert(countries.pop())
                <md-button style="float:right;" ng-click="ArrVM.action( 5)">ON-<span
                        class="glyphicon glyphicon-play"></span></md-button>
            </p>
        </div>
        <h3>Начало массива</h3>

        <div class="metod-content">
            <h4>Метод shift</h4>
            <h4>Удаляет первый элемент из массива и возвращает его:</h4>

            <p class="div-example-run">alert(countries.shift())
                <md-button style="float:right;" ng-click="ArrVM.action(6)">ON-<span
                        class="glyphicon glyphicon-play"></span></md-button>
            </p>
            <h4>Метод unshift</h4>
            <h4>Добавляет элемент в начало массива</h4>


            <p class="div-example-run">alert(countries.unshift( <input placeholder="Введите страну" ng-model="unShift">
                ))
                <md-button style="float:right;" ng-click="ArrVM.action( 7)">ON-<span
                        class="glyphicon glyphicon-play"></span></md-button>
            </p>
        </div>
        <h4>Важная информация!!!!!!!!</h4>

        <div class="metod-content">
            <p>Методы push/pop выполняются быстро, а shift/unshift – медленно.</p>
            <img src="https://learn.javascript.ru/article/array/array-speed@2x.png" alt="" width="327" height="150"
                 class="image__image">

            <p>Числовые массивы, согласно спецификации, являются объектами, в которые добавили ряд свойств, методов и
                автоматическую длину length. Но внутри они, как правило, устроены по-другому.</p>

            <p>Современные интерпретаторы стараются оптимизировать их и хранить в памяти не в виде хэш-таблицы, а в виде
                непрерывной области памяти, по которой легко пробежаться от начала до конца.</p>

            <p>Операции с массивами также оптимизируются, особенно если массив хранит только один тип данных, например
                только
                числа. Порождаемый набор инструкций для процессора получается очень эффективным.</p>
        </div>
        <h3>У массивов есть ряд методов</h3>


        <h4>Метод join</h4>

        <div class="metod-content">
            <p>Вызов arr.join(str). Он берет массив и склеивает его в строку.<br/>

                var arr = {{arrG}};<br/>

                var str = countries.join(';') <br/>
            </p>

            <p class="div-example-run">
                alert(str);
                <md-button style="float:right; " ng-click="ArrVM.action( 8)">ON-<span
                        class="glyphicon glyphicon-play"></span></md-button>
            </p>

        </div>
        <h4>Метод split</h4>

        <div class="metod-content">
            <p>который позволяет превратить строку в массив, разбив ее по разделителю s. В примере ниже таким
                разделителем
                является строка из запятой и пробела.</p>

            <p>var arr = {{arrG}}</p>

            <p>var names = str.split(', ');</p>

            <p class="div-example-run"> alert(names)
                <md-button style="float:right;" ng-click="ArrVM.action( 9)">ON-<span
                        class="glyphicon glyphicon-play"></span></md-button>
            </p>
            <p>У метода split есть необязательный второй аргумент – ограничение на количество элементов в массиве. Если
                их
                больше, чем указано – остаток массива будет отброшен:</p>


            <h4>Удаление из массива</h4>

            <p>Так как массивы являются объектами, то для удаления ключа можно воспользоваться обычным delete:</p>

            <p>var arr = {{array1}};</p>

            <p class="div-example-run">delete countries[1]
                <md-button style="float:right; bottom: 5px" ng-click="ArrVM.action(10)">ON-<span
                        class="glyphicon glyphicon-play"></span></md-button>
            </p>
            <p>Элемент удален из массива, но не так, как нам этого хочется. Образовалась «дырка».
                Это потому, что оператор delete удаляет пару «ключ-значение». Это – все, что он делает. Обычно же при
                удалении
                из массива мы хотим, чтобы оставшиеся элементы сдвинулись и заполнили образовавшийся промежуток.
                Поэтому для удаления используются специальные методы: из начала – shift, с конца – pop, а из середины –
                splice
            </p>

        </div>
        <h4>Метод splice</h4>

        <div class="metod-content">
            <p>Метод splice – это универсальный раскладной нож для работы с массивами. Умеет все: удалять элементы,
                вставлять
                элементы, заменять элементы – по очереди и одновременно.<br>

                Его синтаксис:<br>

                arr.splice(index[, deleteCount, elem1, ..., elemN])

            <p>
            <h5>Удаляет</h5>

            <p> Удалить deleteCount элементов, начиная с номера index, а затем вставить elem1,
                ...,
                elemN на их место.
                Возвращает
                массив из удалённых элементов.<br>

                var arr = ["Я", "изучаю", "JavaScript"];<br>

                arr.splice(1, 1);<br>
            </p>
               <p class="div-example-run"> alert( arr ); // осталось ["Я", "JavaScript"]
                <md-button style="float:right;" ng-click="ArrVM.action( 11)">ON-<span
                        class="glyphicon glyphicon-play"></span>
                </md-button></p>



            <h5>Удаляет и Встовляет</h5>

            <p>Удалим 3 элемента и вставим другие на их место</p>

            <p>var arr = ["Я", "сейчас", "изучаю", "JavaScript"];</p>

            <p>arr.splice(0, 3, "Мы", "изучаем")</p>

            <p class="div-example-run">alert( arr ) // теперь ["Мы", "изучаем", "JavaScript"]
                <md-button style="float:right;" ng-click="ArrVM.action(12)">ON-<span
                        class="glyphicon glyphicon-play"></span>
                </md-button>
            </p>


            <h5>Возвращает</h5>

            <p>Здесь видно, что splice возвращает массив из удаленных элементов</p>

            <p>var arr = ["Я", "сейчас", "изучаю", "JavaScript"];</p>

            <p>var removed = arr.splice(0, 2);</p>

            <p class="div-example-run">alert( removed );
                <md-button style="float:right;" ng-click="ArrVM.action(13)">ON-<span
                        class="glyphicon glyphicon-play"></span>
                </md-button>
            </p>

            <h5>Вставляет</h5>

            <p>Метод splice также может вставлять элементы без удаления, для этого достаточно установить deleteCount в
                0:</p>

            <p>var arr = ["Я", "изучаю", "JavaScript"];</p>

            <p>//с позиции 2 удалить 0 вставить "сложный", "язык"</p>

            <p>arr.splice(2, 0, "сложный", "язык");</p>

            <p class="div-example-run">alert( arr );
                <md-button style="float:right;" ng-click="ArrVM.action(14)">ON-<span
                        class="glyphicon glyphicon-play"></span>
                </md-button>
            </p>

            <h5>Отрицательный номер позиции</h5>

            <p>Есть возможность использование отрицательного номера позиции, которая в этом случае отсчитывается с
                конца:

            </p>

            <p>var arr = [1, 2, 5];</p>

            <p>// начиная с позиции индексом -1 (перед последним элементом)<br>
                // удалить 0 элементов,<br>
                // затем вставить числа 3 и 4</p>

            <p>arr.splice(-1, 0, 3, 4);</p>

            <p class="div-example-run">alert( arr );
                <md-button style="float:right;" ng-click="ArrVM.action(15)">ON-<span
                        class="glyphicon glyphicon-play"></span>
                </md-button>
            </p>
        </div>

        <h4>Метод slice</h4>

        <div class="div-example-run metod-content">
            <p>Метод slice(begin, end) копирует участок массива от begin до end, не включая end. Исходный массив при
                этом не
                меняется.
            </p>

            <p>var arr = ["Почему", "надо", "учить", "JavaScript"];</p>

            <p>arr2 = arr.slice(1, 3); // элементы 1, 2 (не включая 3)</p>

            <p class="div-example-run">alert( arr2 ); // надо, учить
                <md-button style="float:right;" ng-click="ArrVM.action(16)">ON-<span
                        class="glyphicon glyphicon-play"></span>
                </md-button>
            </p>
            <p>Если не указать end – копирование будет до конца массива:</p>
        </div>

        <h4>Сортировка, метод sort(fn)</h4>

        <div class="  metod-content">
            <p>Метод sort() сортирует массив на месте. Например:<br>
                Но что то странное в этом примере?
            </p>

            <p>var arr = [ 1, 2, 15 ];<br>

                arr.sort();

            </p>

            <p class="div-example-run"> alert( arr ); // 1, 15, 2
                <md-button style="float:right;" ng-click="ArrVM.action(17)">ON-<span
                        class="glyphicon glyphicon-play"></span>
                </md-button>
            </p>
            <p>Порядок стал 1, 15, 2, это точно не сортировка чисел. </p>

            <p>Это произошло потому, что по умолчанию sort сортирует, преобразуя элементы к строке.</p>

            <p>Поэтому и порядок у них строковый, ведь "2" > "15".</p>
            <h5>Свой порядок сортировки</h5>

            <p>Для указания своего порядка сортировки в метод arr.sort(fn) нужно передать функцию fn от двух элементов,
                которая умеет сравнивать их.

                Внутренний алгоритм функции сортировки умеет сортировать любые массивы – апельсинов, яблок,
                пользователей, и
                тех и других и третьих – чего угодно. Но для этого ему нужно знать, как их сравнивать. Эту роль и
                выполняет
                fn.

                Если эту функцию не указать, то элементы сортируются как строки.</p>
            <h5>Например, укажем эту функцию явно, отсортируем элементы массива как числа</h5>


            <ul>
                <li>function compareNumeric(a, b) {</li>
                <li>if (a > b) return 1;</li>
                <li> if (a < b) return -1;</li>
                <li>}</li>
                <li> var arr = [ 1,2,15,4,8 ];</li>
                <li>arr.sort(compareNumeric);</li>
                <li class="div-example-run">alert(arr); // 1, 2, 4, 8, 15
                    <md-button style="float:right;" ng-click="ArrVM.action(18)">ON-<span
                            class="glyphicon glyphicon-play"></span>
                    </md-button>
                    <p>
                        Обратите внимание, мы передаём в sort() именно саму функцию compareNumeric, без вызова через
                        скобки.<br>
                        Был бы ошибкой следующий код<br>
                        arr.sort( compareNumeric() ); // не сработает
                    </p>
                </li>
                <p>Алгоритм сортировки, встроенный в JavaScript, будет передавать ей для сравнения элементы массива. Она
                    должна возвращать:

                    Положительное значение, если a > b,
                    Отрицательное значение, если a < b,
                    Если равны – можно 0, но вообще – не важно, что возвращать, их взаимный порядок не имеет значения.
                </p>
            </ul>
        </div>


        <h4>reverse</h4>

        <div class="div-example-run metod-content">
            <p>
                Метод arr.reverse() меняет порядок элементов в массиве на обратный.
            </p>

            <p>var arr = [1, 2, 3, 4, 5];</p>

            <p> arr.reverse();</p>

            <p class="div-example-run"> alert( arr ); // 3,2,1
                <md-button style="float:right;" ng-click="ArrVM.action(19)">ON-<span
                        class="glyphicon glyphicon-play"></span>
                </md-button>
            </p>
        </div>

        <h4>concat</h4>

        <div class="div-example-run metod-content">
            <p>Метод arr.concat(value1, value2, … valueN) создаёт новый массив, в который копируются элементы из arr, а
                также value1, value2, ... valueN.</p>

            <p>var arr = [1, 2];</p>

            <p> var newArr = arr.concat(3, 4);</p>

            <p class="div-example-run"> alert( newArr ); // 1,2,3,4
                <md-button style="float:right;" ng-click="ArrVM.action(20)">ON-<span
                        class="glyphicon glyphicon-play"></span>
                </md-button>
            </p>
        </div>

        <h4>indexOf/lastIndexOf</h4>

        <div class="div-example-run metod-content">
            <p>Эти методы не поддерживаются в IE8-. Для их поддержки подключите библиотеку ES5-shim.

                Метод «arr.indexOf(searchElement[, fromIndex])» возвращает номер элемента searchElement в массиве arr
                или
                -1, если его нет.

                Поиск начинается с номера fromIndex, если он указан. Если нет – с начала массива.

                Для поиска используется строгое сравнение ===.</p>

            <p>Например:</p>

            <p>var arr = [1, 0, false];</p>

            <p> alert( arr.indexOf(0) ); // 1</p>

            <p> alert( arr.indexOf(false) ); // 2 </p>

            <p class="div-example-run"> alert( arr.indexOf(null) ); // -1
                <md-button style="float:right;" ng-click="ArrVM.action(21)">ON-<span
                        class="glyphicon glyphicon-play"></span>
                </md-button>
            </p>

            <p>Как вы могли заметить, по синтаксису он полностью аналогичен методу indexOf для строк.

                Метод «arr.lastIndexOf(searchElement[, fromIndex])» ищет справа-налево: с конца массива или с номера
                fromIndex, если он указан.</p>
            <h5>Методы indexOf/lastIndexOf осуществляют поиск перебором</h5>

            <p>
                Если нужно проверить, существует ли значение в массиве – его нужно перебрать. Только так. Внутренняя
                реализация indexOf/lastIndexOf осуществляет полный перебор, аналогичный циклу for по массиву. Чем
                длиннее
                массив, тем дольше он будет работать.</p>

        </div>

        <h4>Object.keys(obj)</h4>

        <div class="div-example-run metod-content">
            <p>Ранее мы говорили о том, что свойства объекта можно перебрать в цикле for..in.

                Если мы хотим работать с ними в виде массива, то к нашим услугам – замечательный метод Object.keys(obj).
                Он
                поддерживается везде, кроме IE8-:</p>

            <p>var user = {<br>
                name: "Петя",<br>
                age: 30 <br>
                }<br>

                var keys = Object.keys(user);
            </p>

            <p class="div-example-run">alert( keys ); // name, age
                <md-button style="float:right;" ng-click="ArrVM.action(22)">ON-<span
                        class="glyphicon glyphicon-play"></span>
                </md-button>
            </p>
        </div>
        <h4>Массив: перебирающие методы</h4>

        <p>forEach – для перебора массива.</p>

        <p>filter – для фильтрации массива.</p>

        <p></p>every/some – для проверки массива.</p>
        <p> map – для трансформации массива в массив.</p>

        <p> reduce/reduceRight – для прохода по массиву с вычислением значения.</p>
        <h4>Метод forEach</h4>

        <div class="div-example-run metod-content">
            <p>Метод «arr.forEach(callback[, thisArg])» используется для перебора массива.</p>

            <p> Он для каждого элемента массива вызывает функцию callback.</p>

            <p> Этой функции он передаёт три параметра callback(item, i, arr):</p>

            <p> item – очередной элемент массива.</p>

            <p> i – его номер.</p>

            <p> arr – массив, который перебирается.</p>

            <p> Например:</p>

            <p>var arr = ["Яблоко", "Апельсин", "Груша"];</p>

            <p>arr.forEach(function(item, i, arr) {</p>

            <p>alert( i + ": " + item + " (массив:" + arr + ")" );

            </p>

            <p class="div-example-run"> });
                <md-button style="float:right;" ng-click="ArrVM.action(23)">ON-<span
                        class="glyphicon glyphicon-play"></span>
                </md-button>
            </p>

            <p>Метод forEach ничего не возвращает, его используют только для перебора, как более «элегантный» вариант,
                чем
                обычный цикл for.</p>

        </div>

        <h4>filter</h4>

        <div class="div-example-run metod-content">
            <p>Метод «arr.filter(callback[, thisArg])» используется для фильтрации массива через функцию.

                Он создаёт новый массив, в который войдут только те элементы arr, для которых вызов callback(item, i,
                arr)
                возвратит true.</p>

            <p>Например:</p>

            <p>var arr = [1, -1, 2, -2, 3];</p>

            <p>var positiveArr = arr.filter(function(number) {</p>

            <p>return number > 0;</p>

            <p>});</p>

            <p class="div-example-run">alert( positiveArr ); // 1,2,3
                <md-button style="float:right;" ng-click="ArrVM.action(24)">ON-<span
                        class="glyphicon glyphicon-play"></span>
                </md-button>
            </p>
        </div>
        <h4>map</h4>

        <div class="div-example-run metod-content">
            <p>Метод «arr.map(callback[, thisArg])» используется для трансформации массива.

                Он создаёт новый массив, который будет состоять из результатов вызова callback(item, i, arr) для каждого
                элемента arr.
            </p>

            <p> Например:</p>

            <p>var names = ['HTML', 'CSS', 'JavaScript'];</p>

            <p> var nameLengths = names.map(function(name) {</p>

            <p> return name.length;</p>

            <p> });</p>

            <p> // получили массив с длинами</p>

            <p class="div-example-run"> alert( nameLengths ); // 4,3,10
                <md-button style="float:right;" ng-click="ArrVM.action(25)">ON-<span
                        class="glyphicon glyphicon-play"></span>
                </md-button>
            </p>

        </div>

        <h4>every/some</h4>

        <div class="div-example-run metod-content">

            <p>Эти методы используется для проверки массива.</p>

            <p> Метод «arr.every(callback[, thisArg])» возвращает true, если вызов callback вернёт true для каждого
                элемента
                arr.</p>

            <p> Метод «arr.some(callback[, thisArg])» возвращает true, если вызов callback вернёт true для какого-нибудь
                элемента arr.</p>

            <p>var arr = [1, -1, 2, -2, 3];</p>

            <p> function isPositive(number) {</p>

            <p> return number > 0;</p>

            <p> }</p>

            <p> alert( arr.every(isPositive) ); // false, не все положительные</p>

            <p class="div-example-run"> alert( arr.some(isPositive) ); // true, есть хоть одно положительное
                <md-button style="float:right;" ng-click="ArrVM.action(26)">ON-<span
                        class="glyphicon glyphicon-play"></span>
                </md-button>
            </p>
        </div>

        <h4>reduce/reduceRight</h4>

        <div class="div-example-run metod-content">

            <p>Метод «arr.reduce(callback[, initialValue])» используется для последовательной обработки каждого элемента
                массива с сохранением промежуточного результата.

                Это один из самых сложных методов для работы с массивами. Но его стоит освоить, потому что временами с
                его
                помощью можно в несколько строк решить задачу, которая иначе потребовала бы в разы больше места и
                времени.

                Метод reduce используется для вычисления на основе массива какого-либо единого значения, иначе говорят
                «для
                свёртки массива». Чуть далее мы разберём пример для вычисления суммы.

                Он применяет функцию callback по очереди к каждому элементу массива слева направо, сохраняя при этом
                промежуточный результат.

                Аргументы функции callback(previousValue, currentItem, index, arr):

                previousValue – последний результат вызова функции, он же «промежуточный результат».
                currentItem – текущий элемент массива, элементы перебираются по очереди слева-направо.
                index – номер текущего элемента.
                arr – обрабатываемый массив.
                Кроме callback, методу можно передать «начальное значение» – аргумент initialValue. Если он есть, то на
                первом вызове значение previousValue будет равно initialValue, а если у reduce нет второго аргумента, то
                оно
                равно первому элементу массива, а перебор начинается со второго.

                Проще всего понять работу метода reduce на примере.</p>

            <p> Например, в качестве «свёртки» мы хотим получить сумму всех элементов массива.</p>

            <p>var arr = [1, 2, 3, 4, 5]</p>

            <p> // для каждого элемента массива запустить функцию,</p>

            <p> // промежуточный результат передавать первым аргументом далее</p>

            <p> var result = arr.reduce(function(sum, current) {</p>

            <p> return sum + current;</p>

            <p> }, 0);</p>

            <p class="div-example-run"> alert( result ); // 15
                <md-button style="float:right;" ng-click="ArrVM.action(27)">ON-<span
                        class="glyphicon glyphicon-play"></span>
                </md-button>
            </p>
            <p>Разберём, что в нём происходит.

                При первом запуске sum – исходное значение, с которого начинаются вычисления, равно нулю (второй
                аргумент
                reduce).

                Сначала анонимная функция вызывается с этим начальным значением и первым элементом массива, результат
                запоминается и передаётся в следующий вызов, уже со вторым аргументом массива, затем новое значение
                участвует в вычислениях с третьим аргументом и так далее.</p>
        </div>

    </div>
    <div hide-xs hide-sm flex-md="40" flex="30" class="main-right-blok fixed"
         style="position: fixed;padding-right: 50px; font-size: 160%">
        <div class="show-array" ng-show="array1">
            <h6>Это визуализация массива </h6>

            <p>var arr =</p>

            <p>{{array1}}</p>
        </div>
        <div style="position: fixed; font-size: 100%; margin-top: 40px">
            <h4>Moiseenko Bogdan</h4>
            <h6>Email</h6>

            <h5>bogdan.nadgobb@gmail.com</h5>
            <h6>Phone</h6>

            <h5>+38(096)140-36-87</h5>


        </div>
    </div>


</div>











