<div layout="row">
    <div hide-xs hide-sm hide-md flex="15" layout-md="column" style="position: relative;font-size: 80%;
             word-wrap: break-word;">

        <div class="afix " style="position: fixed; font-size: 100%">

        </div>
    </div>
    <div flex-xs="100" flex-sm="100" flex-md="60" flex="55" class="centr-blok ">
        <h2>AngularJS</h2>

        <p>
            AngularJS — JavaScript-фреймворк с открытым исходным кодом. Предназначен для разработки одностраничных
            приложений.
            Его цель — расширение браузерных приложений на основе MVC шаблона, а также упрощение тестирования и
            разработки.

            Фреймворк работает с HTML, содержащим дополнительные пользовательские атрибуты, которые описываются
            директивами,
            и
            связывает ввод или вывод области страницы с моделью, представляющей собой обычные переменные JavaScript.
            Значения
            этих переменных задаются вручную или извлекаются из статических или динамических JSON-данных.

            AngularJS был первоначально разработан в 2009 году Мишко Хевери и Адамом Абронсом в Brat Tech LLC, как
            программное
            обеспечение позади сервиса хранения JSON-данных, измеряющихся мегабайтами, для облегчения разработки
            приложений
            организациями. Сервис располагался на домене «GetAngular.com» и имел нескольких зарегистрированных
            пользователей,
            прежде чем они решили отказаться от идеи бизнеса и выпустить Angular как библиотеку с открытым исходным
            кодом.

            Абронс покинул проект, но Хевери, работающий в Google, продолжает развивать и поддерживать библиотеку с
            другими
            сотрудниками Google Игорем Минаром и Войта Джином.

            AngularJS спроектирован с убеждением, что декларативное программирование лучше всего подходит для построения
            пользовательских интерфейсов и описания программных компонентов, в то время как императивное
            программирование
            отлично подходит для описания бизнес-логики[1]. Фреймворк адаптирует и расширяет традиционный HTML, чтобы
            обеспечить
            двустороннюю привязку данных для динамического контента, что позволяет автоматически синхронизировать модель
            и
            представление. В результате AngularJS уменьшает роль DOM-манипуляций и улучшает тестируемость.

            Двустороннее связывание данных в AngularJS является наиболее примечательной особенностью и уменьшает
            количество
            кода, освобождая сервер от работы с шаблонами. Вместо этого, шаблоны отображаются как обычный HTML,
            наполненный
            данными, содержащимися в области видимости, определенной в модели. Сервис $scope в Angular следит за
            изменениями
            в
            модели и изменяет раздел HTML-выражения в представлении через контроллер. Кроме того, любые изменения в
            представлении отражаются в модели. Это позволяет обойти необходимость манипулирования DOM и облегчает
            инициализацию
            и прототипирование веб-приложений
        </p>
    </div>
    <div hide-xs hide-sm flex-md="40" flex="30" class="main-right-blok fixed"
         style="position: fixed;padding-right: 50px; font-size: 160%">

    </div>
</div>