<div layout="row">
    <div hide-xs hide-sm hide-md flex="15" layout-md="column" style="position: relative;font-size: 80%;
             word-wrap: break-word;">

        <div class="afix " style="position: fixed; font-size: 100%">

        </div>
    </div>
    <div flex-xs="100" flex-sm="100" flex-md="60" flex="55" class="centr-blok ">

        <h2>CSS</h2>

        <p>
            CSS используется создателями веб-страниц для задания цветов, шрифтов, расположения отдельных блоков и других
            аспектов представления внешнего вида этих веб-страниц. Основной целью разработки CSS являлось разделение
            описания
            логической структуры веб-страницы (которое производится с помощью HTML или других языков разметки) от
            описания
            внешнего вида этой веб-страницы (которое теперь производится с помощью формального языка CSS). Такое
            разделение
            может увеличить доступность документа, предоставить большую гибкость и возможность управления его
            представлением, а
            также уменьшить сложность и повторяемость в структурном содержимом. Кроме того, CSS позволяет представлять
            один и
            тот же документ в различных стилях или методах вывода, таких как экранное представление, печатное
            представление,
            чтение голосом (специальным голосовым браузером или программой чтения с экрана), или при выводе
            устройствами,
            использующими шрифт
            Как известно, HTML-документы строятся на основании иерархии элементов, которая может быть наглядно
            представлена в
            древовидной форме. Элементы HTML друг для друга могут быть родительскими, дочерними, элементами-предками,
            элементами-потомками, сестринскими.

            Элемент является родителем другого элемента, если в иерархической структуре документа он находится сразу,
            непосредственно над этим элементом. Элемент является предком другого элемента, если в иерархической
            структуре
            документа он находится где-то выше этого элемента.
            Пускай, например, в документе присутствуют два абзаца p, включающие в себя шрифт с полужирным начертанием b.
            Тогда
            элементы b будут дочерними элементами своих родительских элементов p, и потомками своих предков body. В свою
            очередь, для элементов p элемент body будет являться только родителем. И кроме того, эти два элемента p
            будут
            являться сестринскими элементами, как имеющими одного и того же родителя — body.

            В CSS могут задаваться при помощи селекторов не только одиночные элементы, но и элементы, являющиеся
            потомками,
            дочерними или сестринскими элементами других элементов (см. подраздел «виды селекторов»).
        </p>

    </div>
    <div hide-xs hide-sm flex-md="40" flex="30" class="main-right-blok fixed"
         style="position: fixed;padding-right: 50px; font-size: 160%">

    </div>
</div>