<div layout="row">
    <div hide-xs hide-sm hide-md flex="15" layout-md="column" style="position: relative;font-size: 80%;
             word-wrap: break-word;">

        <div class="afix " style="position: fixed; font-size: 100%">

        </div>
    </div>
    <div flex-xs="100" flex-sm="100" flex-md="60" flex="55" class="centr-blok ">

<h2>HTML</h2>
<p>Язык HTML был разработан британским учёным Тимом Бернерсом-Ли приблизительно в 1986—1991 годах в стенах ЦЕРНа в
    Женеве в Швейцарии. HTML создавался как язык для обмена научной и технической документацией, пригодный для
    использования людьми, не являющимися специалистами в области вёрстки. HTML успешно справлялся с проблемой сложности
    SGML путём определения небольшого набора структурных и семантических элементов — дескрипторов. Дескрипторы также
    часто называют «тегами». С помощью HTML можно легко создать относительно простой, но красиво оформленный документ.
    Помимо упрощения структуры документа, в HTML внесена поддержка гипертекста. Мультимедийные возможности были
    добавлены позже.

    Изначально язык HTML был задуман и создан как средство структурирования и форматирования документов без их привязки
    к средствам воспроизведения (отображения). В идеале, текст с разметкой HTML должен был без стилистических и
    структурных искажений воспроизводиться на оборудовании с различной технической оснащённостью (цветной экран
    современного компьютера, монохромный экран органайзера, ограниченный по размерам экран мобильного телефона или
    устройства и программы голосового воспроизведения текстов). Однако современное применение HTML очень далеко от его
    изначальной задачи. Например, тег
    предназначен для создания в документах таблиц, но часто используется и для оформления размещения элементов на
    странице. С течением времени основная идея платформонезависимости языка HTML была принесена в жертву современным
    потребностям в мультимедийном и графическом оформлении.
</p>

</div>
<div hide-xs hide-sm flex-md="40" flex="30" class="main-right-blok fixed"
     style="position: fixed;padding-right: 50px; font-size: 160%">

</div>
</div>