<div ng-cloak  layout="column"   layout-align="center center">
    <md-content class="md-padding">
        <div layout="column" layout-gt-xs="row">
            <md-card >
                <form name="formUser" ng-submit="AddUser()" novalidate>
                    <!--Name-->
                    <md-input-container class="md-block">

                        <label ng-class="myRED">Name<span class="worning-class">*</span></label>

                        <input type="text" name="name" minlength="3" maxlength="30" ng-model="user.name"
                               ng-change="registVM.chaingeName(user.name)" class="col-lg-6 col-md-6">

                        <div ng-show="formUser.name.$invalid ">
                            <div ng-messages="formUser.name.$invalid">
                                <div ng-message="minlength">
                                    Your Name must be between 3 and 30 characters long
                                </div>
                            </div>
                        </div>
                    </md-input-container>

                    <!--CHAT-USER-NAME-->
                    <md-input-container class="md-block">
                        <label>ChatName<span class="worning-class">*</span></label>
                        <input name="chatUserName" minlength="3" maxlength="20" ng-model="user.chatUserName"
                               ng-change="registVM.chaingeNikname(user.chatUserName)">

                        <div ng-show="formUser.chatUserName.$invalid ">
                            <div ng-messages="formUser.chatUserName.$error" role="alert">
                                <div ng-message-exp="['required', 'minlength', 'maxlength']">
                                    Your ChatName must be between 3 and 20 characters long .
                                </div>
                            </div>
                        </div>
                    </md-input-container>


                    <!--E-MAill-->
                    <md-input-container class="md-block">
                        <label>Email</label>
                        <input required type="email" name="email" ng-model="user.email"
                               minlength="8" maxlength="50" ng-pattern="/^.+@.+\..+$/"/>

                        <div ng-show="formUser.email.$invalid ">
                            <div ng-messages="formUser.email.$error" role="alert">
                                <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                    Your email must be between 8 and 50 characters long and look like an e-mail address.
                                </div>
                            </div>
                        </div>
                    </md-input-container>


                    <!--Pasword1-->
                    <md-input-container class="md-block">
                        <label>Pasword<span class="worning-class">*</span></label>
                        <input type="password" name="code1" ng-model="user.code1" minlength="5" maxlength="35">

                        <div ng-show="formUser.code1.$invalid ">
                            <div ng-messages="formUser.code1.$error" role="alert">
                                <div ng-message-exp="['required', 'minlength', 'maxlength']">
                                    Your Pasword must be between 5 and 15 characters long and look like an e-mail
                                    address.
                                </div>
                            </div>
                        </div>
                    </md-input-container>

                    <!--Pasword2-->
                    <md-input-container class="md-block">
                        <label>Confirm Pasword<span class="worning-class">*</span></label>
                        <input type="password" name="code2" ng-model="user.code2">
                    </md-input-container>


                    <md-button class="md-raised md-primary btn-add-image" ng-click="showImageForm = true">
                        Add you image
                    </md-button>
                    <md-button type="submit" class="md-raised md-primary">Submit</md-button>
                    <div>
                        <p class="worning-class" ng-bind="registVM.massege" ng-show="registVM.massege"></p>
                    </div>
                </form>
            </md-card>

            <md-card-avatar flex ng-show="showImageForm">
                <div  >
                    <form name="myForm" >
                        <div>Crop Image and Upload</div>
                        <md-button class="md-raised md-primary" ngf-select ng-model="picFile" accept="image/*">
                            Select Picture
                        </md-button>
                        <md-button class="md-raised md-primary  md-fab" ng-click="upload(croppedDataUrl)">O.K
                        </md-button>
                        <div class="crop-image">
                            <div ngf-drop ng-model="picFile" ngf-pattern="image/*"
                                 class="cropArea ">
                                <img-crop image="picFile  | ngfDataUrl"
                                          result-image="croppedDataUrl" ng-init="croppedDataUrl=''">
                                </img-crop>
                            </div>
                        </div>
                        <span class="worning-class" ng-show="errorMsg">{{errorMsg}}</span>
                    </form>
                </div>
            </md-card-avatar>
            <md-card-avatar >
                <div  class="avatarImage">
                    <img ng-src="{{smolImage}}" ng-hide="showImageForm"/>
                    <img  ng-src="{{croppedDataUrl}}" ng-show="showImageForm"/>
                </div>
            </md-card-avatar>
        </div>
    </md-content>
</div>


