<h4>Description of the page</h4>
<div class="row">
    <div class="col-xs-6 col-md-6 col-sm-6 col-xs-6">
        <div class="checkbox">

            <div class="btn-group ">
                <pre>{{radioModel || 'null'}}</pre>
                <label class="btn btn-success" ng-model="radioModel" ng-click="oneAtATime = true"
                       uib-btn-radio="'Подпункты меню акордиона скрываются'">По одному</label>
                <label class="btn btn-success" ng-model="radioModel" ng-click="oneAtATime = false"
                       uib-btn-radio="'Подпункты меню акордиона НЕ скрываются'">Все сразу</label>
            </div>
        </div>
        <uib-accordion close-others="oneAtATime">
            <uib-accordion-group heading="{{group.title}}" panel-class="panel-success" ng-repeat="group in groups">
                {{group.content}}
            </uib-accordion-group>
        </uib-accordion>
    </div>
</div>