<div class="g-maos">
    <h2>G_MAPS</h2>

    <div layout="row">


        <div flex="45" layout-md="column">
            <div id="map" ng-init="initialize()"></div>
        </div>


        <div flex="55">
            <div class="gmaps-content">
                <h3>Google Maps API</h3>

                <div class="hint">Click on a city name to view it on the map</div>
                <div class="content">
                    <div id="cities">
                        <ul>
                            <li ng-repeat="city in cities" ng-click="showCity(city)">{{ city.city }}</li>
                        </ul>
                    </div>

                </div>
                <p>API Карт Google позволяет настраивать карты и информацию о картах.</p>


                <h3>карты Google</h3>

                <p>
                    <code>
                        &lt;!DOCTYPE html><br>
                        &lt;html><br>
                        &lt;head><br>
                        &lt;script src="http://maps.googleapis.com/maps/api/js">&lt;/script><br>
                        &lt;script><br>
                        function initialize() {<br>
                        var mapProp = {<br>
                        center:new google.maps.LatLng(51.508742,-0.120850),<br>
                        zoom:5,<br>
                        mapTypeId:google.maps.MapTypeId.ROADMAP<br>
                        };<br>
                        var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);<br>
                        }<br>
                        google.maps.event.addDomListener(window, 'load', initialize);<br>
                        &lt;/script><br>
                        &lt;/head><br>
                        <br>
                        &lt;body><br>
                        &lt;div id="googleMap" style="width:500px;height:380px;">&lt;/div><br>
                        &lt;/body><br>
                        <br>
                        &lt;/html><br>
                    </code>
                </p>
            </div>
        </div>
    </div>
    <h2>Создание карты Basic Google</h2>


    <div layout="row">

        <div flex="35" layout-md="column">
            <div id="map1"></div>
        </div>


        <div flex="65">
            <div class="gmaps-content">
                <h5>Карта создана без элементов управления с центром Харьков</h5>

                <p>
                    <code>

                        &lt;!DOCTYPE html><br>
                        &lt;html><br>
                        &lt;head><br>
                        &lt;script src="http://maps.googleapis.com/maps/api/js">&lt;/script><br>
                        &lt;script><br>
                        var map1div = document.getElementById('map1');<br>
                        map1div.style.width = '100%';<br>
                        map1div.style.height = '500px';<br>
                        var map1options = {<br>
                        center: new google.maps.LatLng(49.995822, 36.24183654),<br>
                        zoom: 8,<br>
                        disableDefaultUI:true, //ПРи включение этого свойства с карты уберутся все элементы
                        управления<br>
                        mapTypeId: google.maps.MapTypeId.ROADMAP<br>
                        };<br>
                        var map1 = new google.maps.Map(map1div, map1options);<br>
                        &lt;/script><br>
                        &lt;/head><br>
                        &lt;body><br>
                        &lt;div id="map1"> &lt;/div><br>
                        &lt;/body><br>
                        &lt;/html><br>
                    </code>
                </p>
            </div>
        </div>

    </div>
    <h2>Google Maps Overlays(Маркер, Ломаная, Полигон, Круг)</h2>

    <div layout="row">

        <div flex="35" layout-md="column">
            <div id="map2"></div>
        </div>


        <div flex="65">
            <div class="gmaps-content">
                <h3>Google Maps - добавить маркер</h3>

                <p>Конструктор Маркер создает маркер. (Заметим, что свойство позиция должна быть установлена ​​для
                    маркера для отображения).</p>

                <p>Добавить маркер на карте с помощью метода setMap ()</p>

                <table border="1px blak">
                    <tr>

                        <td>
                            <md-button ng-click="animMark(0)">Анимация маркера {{ onOff}}</md-button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <md-button ng-click="animMark(1)">Замена маркера иконкой</md-button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <md-button ng-click="animMark(2)">Ломаная линия</md-button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <md-button ng-click="animMark(3)">Надпись над маркером</md-button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
    <h2>Google Maps Events(События)</h2>

    <div layout="row">

        <div flex="35" layout-md="column">
            <div id="map3"></div>
        </div>


        <div flex="65">
            <div class="gmaps-content">

                <ul>
                    <li>
                        <h5>Нажмине на маркер и карта увеличится</h5>
                    </li>
                    <li>
                        <h5>
                            Куда бы вы не переместились бы по карте она всёравно вернётся обратно к маркеру в центре
                        </h5>
                    </li>
                    <li>
                        <h5>
                            При нажатии на маркер появится сообщение
                        </h5>
                    </li>
                </ul>
                <md-button ng-click="clearMarkers()">Удалить все новые маркеры</md-button>
            </div>
        </div>

    </div>
</div>