<div layout="row">
    <div hide-xs hide-sm flex="15" layout-md="column">

    </div>


    <div class="content-class centr-blok" flex-xs="100" flex-sm="100" flex="70">

        <h1>XMLHttpRequest: индикация прогресса</h1>

        <div class="metod-content">
            <p>Запрос XMLHttpRequest состоит из двух фаз:</p>

            <ol>
                <li>
                    Стадия закачки (upload). На ней данные загружаются на сервер. Эта фаза может быть долгой для
                    POST-запросов. Для отслеживания прогресса на стадии закачки существует объект типа
                    XMLHttpRequestUpload, доступный как xhr.upload и события на нём.
                </li>
                <li>
                    Стадия скачивания (download). После того, как данные загружены, браузер скачивает ответ с сервера.
                    Если он большой, то это может занять существенное время. На этой стадии используется обработчик
                    xhr.onprogress.
                </li>
            </ol>
        </div>


        <h3>Стадия закачки</h3>

        <div class="metod-content">
            <p>На стадии закачки для получения информации используем объект xhr.upload. У этого объекта нет методов, он
                только генерирует события в процессе закачки. А они-то как раз и нужны.</p>

            <ul>
                <li>loadstart</li>
                <li>progress</li>
                <li>abort</li>
                <li>error</li>
                <li>load</li>
                <li>timeout</li>
                <li>loadend</li>
            </ul>

            <p>Пример установки обработчиков на стадию закачки:</p>

            <p>
                <code>
                    xhr.upload.onprogress = function(event) {<br>
                    alert( 'Загружено на сервер ' + event.loaded + ' байт из ' + event.total );<br>
                    }<br>
                    <br>
                    xhr.upload.onload = function() {<br>
                    alert( 'Данные полностью загружены на сервер!' );<br>
                    }<br>
                    <br>
                    xhr.upload.onerror = function() {<br>
                    alert( 'Произошла ошибка при загрузке данных на сервер!' );<br>
                    }<br>
                </code>
            </p>
        </div>
        <h3>Стадия скачивания</h3>

        <div class="metod-content">
            <p>После того, как загрузка завершена, и сервер соизволит ответить на запрос, XMLHttpRequest начнёт
                скачивание ответа сервера.</p>

            <p>На этой фазе xhr.upload уже не нужен, а в дело вступают обработчики событий на самом объекте xhr. В
                частности, событие xhr.onprogress содержит информацию о количестве принятых байт ответа.</p>

            <p>Пример обработчика:</p>

            <p>
                <code>
                    xhr.onprogress = function(event) {<br>
                    alert( 'Получено с сервера ' + event.loaded + ' байт из ' + event.total );<br>
                    }
                </code>
            </p>

            <p>Все события, возникающие в этих обработчиках, имеют тип ProgressEvent, то есть имеют свойства loaded –
                количество уже пересланных данных в байтах и total – общее количество данных.</p>

        </div>
        <h3>Демо: загрузка файла с индикатором прогресса</h3>

        <div class="metod-content">
            <p>Современный XMLHttpRequest позволяет отправить на сервер всё, что угодно. Текст, файл, форму.</p>

            <p>Мы, для примера, рассмотрим загрузку файла с индикацией прогресса. Это требует от браузера поддержки File
                API, то есть исключает IE9-.</p>

            <p>File API позволяет получить доступ к содержимому файла, который перенесён в браузер при помощи
                Drag’n’Drop
                или выбран в поле формы, и отправить его при помощи XMLHttpRequest.</p>

            <p>Форма для выбора файла с обработчиком submit:</p>

            <p>
                <code>
                    &lt;form name="upload"><br>
                    &lt;input type="file" name="myfile"><br>
                    &lt;input type="submit" value="Загрузить"><br>
                    &lt;/form><br>
                    <br>
                    &lt;script><br>
                    document.forms.upload.onsubmit = function() {<br>
                    var input = this.elements.myfile;<br>
                    var file = input.files[0];<br>
                    if (file) <br>
                    upload(file);<br>
                    }<br>
                    return false;<br>
                    }<br>
                    &lt;/script>
                </code>
            </p>

            <p>Мы получаем файл из формы через свойство files элемента &lt;input> и передаём его в функцию upload:</p>

            <p>
                <code>

                </code>
            </p>
        </div>
    </div>


    <div hide-xs hide-sm flex="15" class="main-right-blok fixed"
         style="position: fixed;padding-right: 50px; font-size: 160%">

    </div>

</div>











