<div layout="row">
    <div hide-xs hide-sm flex="15" layout-md="column">

    </div>


    <div class="content-class centr-blok" flex-xs="100" flex-sm="100" flex="70">

        <h1>Основы XMLHttpRequest</h1>

        <div class="metod-content">
            <p>Объект XMLHttpRequest (или, как его кратко называют, «XHR») дает возможность из JavaScript делать
                HTTP-запросы к серверу без перезагрузки страницы.

                Несмотря на слово «XML» в названии, XMLHttpRequest может работать с любыми данными, а не только с XML.

                Использовать его очень просто.</p>

            <h5>Пример использования</h5>

            <p>
                <code>
                    // 1. Создаём новый объект XMLHttpRequest<br>
                    var xhr = new XMLHttpRequest();<br>

                    // 2. Конфигурируем его: GET-запрос на URL 'phones.json'<br>
                    xhr.open('GET', 'phones.json', false);<br>

                    // 3. Отсылаем запрос<br>
                    xhr.send();<br>

                    // 4. Если код ответа сервера не 200, то это ошибка<br>
                    if (xhr.status != 200) {<br>
                    // обработать ошибку<br>
                    alert( xhr.status + ': ' + xhr.statusText ); // пример вывода: 404: Not Found<br>
                    } else {<br>
                    // вывести результат<br>
                    alert( xhr.responseText ); // responseText -- текст ответа.<br>

                    <p class="div-example-run"> }
                        <md-button style="float:right;" class="md-primary" ng-click="XmlHttpCtrlVM.action(0)">
                            ON<span
                                class="glyphicon glyphicon-play"></span></md-button>
                    </p>
                </code>
            </p>
        </div>
        <h3>Настроить: open</h3>

        <div class="metod-content">
            <p>
                <code>
                    xhr.open(method, URL, async, user, password)
                </code>
            </p>

            <p>Этот метод – как правило, вызывается первым после создания объекта XMLHttpRequest.</p>

            <p>Задаёт основные параметры запроса:</p>

            <ul>
                <li>
                    method – HTTP-метод. Как правило, используется GET либо POST, хотя доступны и более экзотические,
                    вроде TRACE/DELETE/PUT и т.п.
                </li>

                <li>
                    URL – адрес запроса. Можно использовать не только http/https, но и другие протоколы, например ftp://
                    и file://.<br><br><br>
                    При этом есть ограничения безопасности, называемые «Same Origin Policy»: запрос со страницы можно
                    отправлять только на тот же протокол://домен:порт, с которого она пришла. В следующих главах мы
                    рассмотрим, как их можно обойти.
                </li>

                <li>
                    async – если установлено в false, то запрос производится синхронно, если true – асинхронно.
                </li>
            </ul>
            <h5>Синхронный запрос</h5>

            <p>«Синхронный запрос» означает, что после вызова xhr.send() и до ответа сервера главный поток будет
                «заморожен»: посетитель не сможет взаимодействовать со страницей – прокручивать, нажимать на кнопки и
                т.п. После получения ответа выполнение продолжится со следующей строки.</p>
            <h5>Асинхронный запрос</h5>

            <p>«Асинхронный запрос» означает, что браузер отправит запрос, а далее результат нужно будет получить через
                обработчики событий, которые мы рассмотрим далее.</p>

            <div class="content-rools">
                <h5>Вызов open не открывает соединение</h5>

                <p>Заметим, что вызов open, в противоположность своему названию (open – англ. «открыть») не открывает
                    соединение. Он лишь настраивает запрос, а коммуникация инициируется методом send.</p>
            </div>
        </div>
        <h3>ослать данные: send</h3>

        <div class="metod-content">

            <p>Синтаксис:</p>

            <p>
                <code>
                    xhr.send([body])
                </code>
            </p>

            <p>Именно этод метод открывает соединение и отправляет запрос на сервер.</p>

            <p>В body находится тело запроса. Не у всякого запроса есть тело, например у GET-запросов тела нет, а у POST
                – основные данные как раз передаются через body.</p>
        </div>

        <h3>Отмена: abort</h3>

        <div class="metod-content">
            <p>Вызов xhr.abort() прерывает выполнение запроса.</p>
        </div>

        <h3>Ответ: status, statusText, responseText</h3>

        <div class="metod-content">
            <p>Основные свойства, содержащие ответ сервера:</p>
            <h5>status</h5>

            <p>HTTP-код ответа: 200, 404, 403 и так далее. Может быть также равен 0, если сервер не ответил или при
                запросе на другой домен.</p>
            <h5>statusText</h5>

            <p>Текстовое описание статуса от сервера: OK, Not Found, Forbidden и так далее.</p>
            <h5>responseText</h5>

            <p>Текст ответа сервера.</p>
            <h5>responseXML</h5>

            <p>(Это свойство, которое используется гораздо реже:)</p>

            <p>Если сервер вернул XML, снабдив его правильным заголовком Content-type: text/xml, то браузер создаст из
                него XML-документ. По нему можно будет делать запросы xhr.responseXml.querySelector("...") и другие.</p>

            <p>Оно используется редко, так как обычно используют не XML, а JSON. То есть, сервер возвращает JSON в виде
                текста, который браузер превращает в объект вызовом JSON.parse(xhr.responseText).</p>
        </div>

        <h3>Синхронные и асинхронные запросы</h3>

        <div class="metod-content">
            <p>Если в методе open установить параметр async равным false, то запрос будет синхронным.</p>

            <p>Синхронные вызовы используются чрезвычайно редко, так как блокируют взаимодействие со страницей до
                окончания
                загрузки. Посетитель не может даже прокручивать её. Никакой JavaScript не может быть выполнен, пока
                синхронный вызов не завершён – в общем, в точности те же ограничения как alert.</p>

            <p>
                <code>
                    // Синхронный запрос<br>
                    xhr.open('GET', 'phones.json', false);<br>
                    <br>
                    // Отсылаем его<br>
                    xhr.send();<br>
                    // ...весь JavaScript "подвиснет", пока запрос не завершится
                </code>
            </p>

            <p>Если синхронный вызов занял слишком много времени, то браузер предложит закрыть «зависшую» страницу.</p>

            <p>Из-за такой блокировки получается, что нельзя отослать два запроса одновременно. Кроме того, забегая
                вперёд, заметим, что ряд продвинутых возможностей, таких как возможность делать запросы на другой домен
                и указывать таймаут, в синхронном режиме не работают.</p>

            <p>Из всего вышесказанного уже должно быть понятно, что синхронные запросы используются чрезвычайно редко, а
                асинхронные – почти всегда.</p>

            <p>Для того, чтобы запрос стал асинхронным, укажем параметр async равным true.</p>

            <p>Изменённый JS-код:</p>

            <p>
                <code>
                    var xhr = new XMLHttpRequest();<br>
                    <br>
                    xhr.open('GET', 'phones.json', true);<br>
                    <br>
                    xhr.send(); // (1)<br>
                    <br>
                    xhr.onreadystatechange = function() { // (3)<br>
                    if (xhr.readyState != 4) return;<br>
                    <br>
                    button.innerHTML = 'Готово!';<br>
                    <br>
                    if (xhr.status != 200) {<br>
                    alert(xhr.status + ': ' + xhr.statusText);<br>
                    } else {<br>
                    alert(xhr.responseText);<br>
                    }<br>
                    <br>
                    }<br>
                    <br>
                    button.innerHTML = 'Загружаю...'; // (2)<br>
                    button.disabled = true;<br>

                    <p>
                        <md-button style="float:right;" class="md-primary" ng-click="XmlHttpCtrlVM.action(1)"><b
                                id="md-button-id">
                        <span
                                class="glyphicon glyphicon-play"></span></b>ON
                        </md-button>
                    </p>
                </code>
            </p>
            <p>
                Если в open указан третий аргумент true (или если третьего аргумента нет), то запрос выполняется
                асинхронно. Это означает, что после вызова xhr.send() в строке (1) код не «зависает», а преспокойно
                продолжает выполняться, выполняется строка (2), а результат приходит через событие (3)
            </p>
        </div>
        <h3>Событие readystatechange</h3>

        <div class="metod-content">
            <p>Событие readystatechange происходит несколько раз в процессе отсылки и получения ответа. При этом можно
                посмотреть «текущее состояние запроса» в свойстве xhr.readyState.</p>

            <p>В примере выше мы использовали только состояние 4 (запрос завершён), но есть и другие.</p>

            <p>Все состояния, по спецификации:</p>

            <p>
                <code>
                    const unsigned short UNSENT = 0; // начальное состояние<br>
                    const unsigned short OPENED = 1; // вызван open<br>
                    const unsigned short HEADERS_RECEIVED = 2; // получены заголовки<br>
                    const unsigned short LOADING = 3; // загружается тело (получен очередной пакет данных)<br>
                    const unsigned short DONE = 4; // запрос завершён<br>
                </code>
            </p>

            <p>Запрос проходит их в порядке 0 → 1 → 2 → 3 → … → 3 → 4, состояние 3 повторяется при каждом получении
                очередного пакета данных по сети.</p>

            <div class="content-rools">
                <h5>Точка разрыва пакетов не гарантирована</h5>

                <p>При состоянии readyState=3 (получен очередной пакет) мы можем посмотреть текущие данные в
                    responseText и, казалось бы, могли бы работать с этими данными как с «ответом на текущий
                    момент».</p>

                <p>
                    Однако, технически мы не управляем разрывами между сетевыми пакетами. Если протестировать пример
                    выше в локальной сети, то в большинстве браузеров разрывы будут каждые 1000 символов, но в
                    реальности пакет может прерваться на любом байте.
                </p>

                <p>Чем это опасно? Хотя бы тем, что символы русского языка в кодировке UTF-8 кодируются двумя байтами
                    каждый – и разрыв может возникнуть между ними.</p>

                <p>Получится, что при очередном readyState в конце responseText будет байт-полсимвола, то есть он не
                    будет корректной строкой – частью ответа! Если в скрипте как-то по-особому это не обработать, то
                    неизбежны проблемы.</p>
            </div>

        </div>
        <h3>HTTP-заголовки</h3>

        <div class="metod-content">
            <p>XMLHttpRequest умеет как указывать свои заголовки в запросе, так и читать присланные в ответ.</p>

            <p>Для работы с HTTP-заголовками есть 3 метода:</p>
            <h5>setRequestHeader(name, value)</h5>

            <p>Устанавливает заголовок name запроса со значением value.</p>

            <p>
                <code>
                    xhr.setRequestHeader('Content-Type', 'application/json');
                </code>
            </p>

            <div class="content-rools">
                <h5>Ограничения на заголовки</h5>

                <p>Нельзя установить заголовки, которые контролирует браузер, например Referer или Host и ряд других</p>

                <p>Это ограничение существует в целях безопасности и для контроля корректности запроса.</p>
            </div>
            <br>

            <div class="content-rools">
                <h5>Поставленный заголовок нельзя снять</h5>

                <p>Особенностью XMLHttpRequest является то, что отменить setRequestHeader невозможно.</p>

                <p>Повторные вызовы лишь добавляют информацию к заголовку, например:</p>

                <p>
                    <code style="background-color: inherit">
                        xhr.setRequestHeader('X-Auth', '123');<br>
                        xhr.setRequestHeader('X-Auth', '456');<br>
                        <br>
                        // в результате будет заголовок:<br>
                        // X-Auth: 123, 456<br>
                    </code>
                </p>
            </div>

            <h5>getResponseHeader(name)</h5>

            <p>Возвращает значение заголовка ответа name, кроме Set-Cookie и Set-Cookie2.</p>

            <p>Например:</p>

            <p>
                <code>
                    xhr.getResponseHeader('Content-Type')
                </code>
            </p>

            <h5>getAllResponseHeaders()</h5>

            <p>Возвращает все заголовки ответа, кроме Set-Cookie и Set-Cookie2.</p>

            <p>Заголовки возвращаются в виде единой строки, например:</p>

            <p>
                <code>
                    Cache-Control: max-age=31536000<br>
                    Content-Length: 4260<br>
                    Content-Type: image/png<br>
                    Date: Sat, 08 Sep 2012 16:53:16 GMT
                </code>
            </p>

            <p>Между заголовками стоит перевод строки в два символа "\r\n" (не зависит от ОС), значение заголовка
                отделено двоеточием с пробелом ": ". Этот формат задан стандартом.</p>

            <p>Таким образом, если хочется получить объект с парами заголовок-значение, то эту строку необходимо разбить
                и обработать.</p>
        </div>

        <h3>Таймаут</h3>

        <div class="metod-content">
            <p>Максимальную продолжительность асинхронного запроса можно задать свойством timeout:</p>

            <p>
                <code>
                    xhr.timeout = 30000; // 30 секунд (в миллисекундах)
                </code>
            </p>

            <p>
                При превышении этого времени запрос будет оборван и сгенерировано событие ontimeout:
            </p>

            <p>
                <code>
                    xhr.ontimeout = function() {<br>
                    alert( 'Извините, запрос превысил максимальное время' );<br>
                    }
                </code>
            </p>
        </div>

        <h3>Полный список событий</h3>

        <div class="metod-content">
            <p>Современная спецификация предусматривает следующие события по ходу обработки запроса:</p>

            <ul>
                <li>loadstart – запрос начат</li>
                <li>progress – браузер получил очередной пакет данных, можно прочитать текущие полученные данные в
                    responseText.
                </li>
                <li>abort – запрос был отменён вызовом xhr.abort().</li>
                <li>error – произошла ошибка.</li>
                <li>load – запрос был успешно (без ошибок) завершён.</li>
                <li>timeout – запрос был прекращён по таймауту</li>
                <li>loadend – запрос был завершён (успешно или неуспешно)</li>
            </ul>
            <p>Используя эти события можно более удобно отслеживать загрузку (onload) и ошибку (onerror), а также
                количество загруженных данных (onprogress).</p>

            <p>Ранее мы видели ещё одно событие – readystatechange. Оно появилось гораздо раньше, ещё до появления
                текущего стандарта.</p>

            <p>В современных браузерах от него можно отказаться в пользу других, необходимо лишь, как мы увидим далее,
                учесть особенности IE8-9.</p>
        </div>

        <h3>IE8,9: XDomainRequest</h3>

        <div class="metod-content">
            <p>В IE8 и IE9 поддержка XMLHttpRequest ограничена:</p>
            <ul>
                <li>Не поддерживаются события, кроме onreadystatechange.</li>
                <li>Некорректно поддерживается состояние readyState = 3: браузер может сгенерировать его только один раз
                    во время запроса, а не при каждом пакете данных. Кроме того, он не даёт доступ к ответу responseText
                    до того, как он будет до конца получен.
                </li>
            </ul>
            <p>Дело в том, что, когда создавались эти браузеры, спецификации были не до конца проработаны. Поэтому
                разработчики браузера решили добавить свой объект XDomainRequest, который реализовывал часть
                возможностей современного стандарта.</p>

            <p>А обычный XMLHttpRequest решили не трогать, чтобы ненароком не сломать существующий код.</p>

            <p>Мы подробнее поговорим про XDomainRequest в главе XMLHttpRequest: кросс-доменные запросы. Пока лишь
                заметим, что для того, чтобы получить некоторые из современных возможностей в IE8,9 – вместо new
                XMLHttpRequest() нужно использовать new XDomainRequest.</p>

            <p>Кросс-браузерно:</p>

            <p>
                <code>
                    var XHR = ("onload" in new XMLHttpRequest()) ? XMLHttpRequest : XDomainRequest;<br>
                    var xhr = new XHR();
                </code>
            </p>

            <p>Теперь в IE8,9 поддерживаются события onload, onerror и onprogress. Это именно для IE8,9. Для IE10
                обычный XMLHttpRequest уже является полноценным.</p>

            <h5>IE9- и кеширование</h5>

            <p>Обычно ответы на запросы XMLHttpRequest кешируются, как и обычные страницы.</p>

            <p>Но IE9- по умолчанию кеширует все ответы, не снабжённые антикеш-заголовком. Другие браузеры этого не
                делают. Чтобы этого избежать, сервер должен добавить в ответ соответствующие антикеш-заголовки, например
                Cache-Control: no-cache.</p>

            <p>Впрочем, использовать заголовки типа Expires, Last-Modified и Cache-Control рекомендуется в любом случае,
                чтобы дать понять браузеру (не обязательно IE), что ему следует делать.</p>

            <p>Альтернативный вариант – добавить в URL запроса случайный параметр, предотвращающий кеширование.</p>

            <p>Например, вместо xhr.open('GET', 'service', false) написать:</p>

            <p>
                <code>
                    xhr.open('GET', 'service?r=' + Math.random(), false);
                </code>
            </p>

            <p>
                По историческим причинам такой способ предотвращения кеширования можно увидеть много где, так как старые
                браузеры плохо обрабатывали кеширующие заголовки. Сейчас серверные заголовки поддерживаются хорошо.
            </p>
        </div>
        <h3>Итак типовой код для GET-запроса при помощи XMLHttpRequest</h3>

        <div class="metod-content">
            <p>
                <code>
                    var xhr = new XMLHttpRequest();<br>
                    <br>
                    xhr.open('GET', '/my/url', true);<br>
                    <br>
                    xhr.send();<br>
                    <br>
                    xhr.onreadystatechange = function() {<br>
                    if (this.readyState != 4) return;<br>
                    <br>
                    // по окончании запроса доступны:<br>
                    // status, statusText<br>
                    // responseText, responseXML (при content-type: text/xml)<br>
                    <br>
                    if (this.status != 200) {<br>
                    // обработать ошибку<br>
                    alert( 'ошибка: ' + (this.status ? this.statusText : 'запрос не удался') );<br>
                    return;<br>
                    }<br>
                    <br>
                    // получить результат из this.responseText или this.responseXML<br>
                    }
                </code>
            </p>
            <h5>Методы XMLHttpRequest:</h5>
            <ul>
                <li>open(method, url, async, user, password)</li>
                <li>send(body)</li>
                <li>abort()</li>
                <li>setRequestHeader(name, value)</li>
                <li>getResponseHeader(name)</li>
                <li>getAllResponseHeaders()</li>
            </ul>
            <h5>Свойства XMLHttpRequest:</h5>
            <ul>
                <li>timeout</li>
                <li>responseText</li>
                <li>responseXML</li>
                <li>status</li>
                <li>statusText</li>
            </ul>
            <h5>События</h5>
            <ul>
                <li>onreadystatechange</li>
                <li>ontimeout</li>
                <li>onerror</li>
                <li>onload</li>
                <li>onprogress</li>
                <li>onabort</li>
                <li>onloadstart</li>
                <li>onloadend</li>
            </ul>
            <code>
                function loadPhones() {<br>
                <br>
                var list = document.getElementById('list');<br>
                var xhr = new XMLHttpRequest();<br>
                <br>
                xhr.open('GET', '../phones.json', true);<br>
                <br>
                xhr.send();<br>
                <br>
                xhr.onreadystatechange = function () {<br>
                if (xhr.readyState != 4) return;<br>
                <br>
                if (xhr.status != 200) {<br>
                // обработать ошибку<br>
                myAlert(xhr.status + ': ' + xhr.statusText);<br>
                } else {<br>
                try {<br>
                var phones = JSON.parse(xhr.responseText);<br>
                myAlert(xhr.responseText);<br>
                } catch (e) {<br>
                myAlert("Некорректный ответ " + e.message);<br>
                }<br>
                showPhones(phones);<br>
                }<br>
                <br>
                };<br>
                <br>

                }<br>
                <br>
                function showPhones(phones) {<br>
                <br>
                phones.forEach(function (phone) {<br>
                var li = list.appendChild(document.createElement('li'));<br>
                li.innerHTML = phone.name;<br>
                });<br>
                <br>

                <p> }

                    <md-button style="float:right;" class="md-primary" ng-click="XmlHttpCtrlVM.action(2)"><b
                            id="md-button-id2">
                        <span
                                class="glyphicon glyphicon-play"></span></b>ON
                    </md-button>
                </p>
            </code>
            <ul id="list"></ul>
        </div>
    </div>


    <div hide-xs hide-sm flex="15" class="main-right-blok fixed"
         style="position: fixed;padding-right: 50px; font-size: 160%">
    </div>

</div>
